
<div>
    <h2><span data-translate="evaluationApp.electronicService.detail.title">Electronic Service</span> {{vm.electronicService.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.electronicService.elecServiceTitlefa">Elec Service Titlefa</span></dt>
        <dd>
            <span>{{vm.electronicService.elecServiceTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.elecServiceTitleen">Elec Service Titleen</span></dt>
        <dd>
            <span>{{vm.electronicService.elecServiceTitleen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.electronicServiceCode">Electronic Service Code</span></dt>
        <dd>
            <span>{{vm.electronicService.electronicServiceCode}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.electronicServiceLink">Electronic Service Link</span></dt>
        <dd>
            <span>{{vm.electronicService.electronicServiceLink}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.elecServiceEvalCount">Elec Service Eval Count</span></dt>
        <dd>
            <span>{{vm.electronicService.elecServiceEvalCount}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.elecServiceEvalTotalScore">Elec Service Eval Total Score</span></dt>
        <dd>
            <span>{{vm.electronicService.elecServiceEvalTotalScore}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.elecServiceEvalDate">Elec Service Eval Date</span></dt>
        <dd>
            <span>{{vm.electronicService.elecServiceEvalDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.parentServicefa">Parent Servicefa</span></dt>
        <dd>
            <span>{{vm.electronicService.parentServicefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.parentServiceen">Parent Serviceen</span></dt>
        <dd>
            <span>{{vm.electronicService.parentServiceen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.department">Department</span></dt>
        <dd ng-show = "locale.lang == 'fa'">
            <a ui-sref="department-detail({id:vm.electronicService.department.id})">{{vm.electronicService.department.departmentNamefa}}</a>
        </dd>
        <dd ng-show = "locale.lang == 'en'">
            <a ui-sref="department-detail({id:vm.electronicService.department.id})">{{vm.electronicService.department.departmentNameen}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.electronicService.diamondCategory">Diamond Category</span></dt>
        <dd ng-show = "locale.lang == 'fa'">
            <span ng-repeat="diamondCategory in vm.electronicService.diamondCategories">
                <a ui-sref="diamond-category-detail({id: diamondCategory.id})">{{diamondCategory.diamondCategoryTitlefa}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dd ng-show = "locale.lang == 'en'">
            <span ng-repeat="diamondCategory in vm.electronicService.diamondCategories">
                <a ui-sref="diamond-category-detail({id: diamondCategory.id})">{{diamondCategory.diamondCategoryTitleen}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="electronic-service-detail.edit({id:vm.electronicService.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
