<div>
	<h2 data-translate="evaluationApp.electronicService.home.title">Electronic
		Services</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="electronic-service.new">
					<span class="glyphicon glyphicon-plus"></span> <span
						data-translate="evaluationApp.electronicService.home.createLabel">
						Create new Electronic Service </span>
				</button>
			</div>
			<div class="col-xs-8 no-padding-right">
				<form name="searchForm" class="form-inline">
					<div class="input-group pull-right">
						<input type="text" class="form-control" ng-model="vm.searchQuery"
							id="searchQuery" placeholder=""> <span
							class="input-group-btn width-min">
							<button class="btn btn-info"
								style="border-radius: 5px 5px 5px 5px !important;"
								ng-click="vm.search(vm.searchQuery)">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> <span class="input-group-btn width-min" ng-if="vm.currentSearch">
							<button class="btn btn-info" ng-click="vm.clear()">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()">
					<th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="elecServiceTitlefa"><span
						data-translate="evaluationApp.electronicService.elecServiceTitlefa">Elec
							Service Titlefa</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="elecServiceTitleen"><span
						data-translate="evaluationApp.electronicService.elecServiceTitleen">Elec
							Service Titleen</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="electronicServiceCode"><span
						data-translate="evaluationApp.electronicService.electronicServiceCode">Electronic
							Service Code</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="elecServiceEvalCount"><span
						data-translate="evaluationApp.electronicService.elecServiceEvalCount">Elec
							Service Eval Count</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="elecServiceEvalTotalScore"><span
						data-translate="evaluationApp.electronicService.elecServiceEvalTotalScore">Elec
							Service Eval Total Score</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="elecServiceEvalDate"><span
						data-translate="evaluationApp.electronicService.elecServiceEvalDate">Elec
							Service Eval Date</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="parentServicefa"><span
						data-translate="evaluationApp.electronicService.parentServicefa">Parent
							Servicefa</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="parentServiceen"><span
						data-translate="evaluationApp.electronicService.parentServiceen">Parent
							Serviceen</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th ng-show="locale.lang == 'fa'"
						jh-sort-by="department.departmentName_fa"><span
						data-translate="evaluationApp.electronicService.department">Department</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th ng-show="locale.lang == 'en'"
						jh-sort-by="department.departmentName_fa"><span
						data-translate="evaluationApp.electronicService.department">Department</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="electronicService in vm.electronicServices track by electronicService.id">
					<td><a
						ui-sref="electronic-service-detail({id:electronicService.id})">{{electronicService.id}}</a></td>
					<td>{{electronicService.elecServiceTitlefa}}</td>
					<td>{{electronicService.elecServiceTitleen}}</td>
					<td>{{electronicService.electronicServiceCode}}</td>
					<td>{{electronicService.elecServiceEvalCount}}</td>
					<td>{{electronicService.elecServiceEvalTotalScore}}</td>
					<td ng-bind = "locale.toLocaleDate(electronicService.elecServiceEvalDate)"></td>
					<td>{{electronicService.parentServicefa}}</td>
					<td>{{electronicService.parentServiceen}}</td>
					<td ng-show="locale.lang == 'fa'"><a
						ui-sref="department-detail({id:electronicService.department.id})">{{electronicService.department.departmentNamefa}}</a>
					</td>
					<td ng-show="locale.lang == 'en'"><a
						ui-sref="department-detail({id:electronicService.department.id})">{{electronicService.department.departmentNameen}}</a>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								ui-sref="electronic-service-detail({id:electronicService.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-sm-down" data-translate="entity.action.view"></span>
							</button>
							<button type="submit"
								ui-sref="electronic-service.edit({id:electronicService.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-sm-down" data-translate="entity.action.edit"></span>
							</button>
							<button type="submit"
								ui-sref="electronic-service.delete({id:electronicService.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-sm-down" data-translate="entity.action.delete"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems"
			items-per-page="vm.itemsPerPage" ng-model="vm.page"
			ng-change="vm.transition()"></uib-pagination>
	</div>
</div>
