
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myElectronicServiceLabel"
			data-translate="evaluationApp.electronicService.home.createOrEditLabel">Create
			or edit a Electronic Service</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.electronicService.id">
			<label for="id" data-translate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				ng-model="vm.electronicService.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.elecServiceTitlefa"
				for="field_elecServiceTitlefa">Elec Service Titlefa</label> <input
				type="text" class="form-control" name="elecServiceTitlefa"
				id="field_elecServiceTitlefa"
				ng-model="vm.electronicService.elecServiceTitlefa" required />
			<div ng-show="editForm.elecServiceTitlefa.$invalid">
				<p class="help-block"
					ng-show="editForm.elecServiceTitlefa.$error.required"
					data-translate="entity.validation.required">This field is
					required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.elecServiceTitleen"
				for="field_elecServiceTitleen">Elec Service Titleen</label> <input
				type="text" class="form-control" name="elecServiceTitleen"
				id="field_elecServiceTitleen"
				ng-model="vm.electronicService.elecServiceTitleen" required />
			<div ng-show="editForm.elecServiceTitleen.$invalid">
				<p class="help-block"
					ng-show="editForm.elecServiceTitleen.$error.required"
					data-translate="entity.validation.required">This field is
					required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.electronicServiceCode"
				for="field_electronicServiceCode">Electronic Service Code</label> <input
				type="number" class="form-control" name="electronicServiceCode"
				id="field_electronicServiceCode"
				ng-model="vm.electronicService.electronicServiceCode" />
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.electronicServiceLink"
				for="field_electronicServiceLink">Electronic Service Link</label> <input
				type="number" class="form-control" name="electronicServiceLink"
				id="field_electronicServiceLink"
				ng-model="vm.electronicService.electronicServiceLink" />
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.elecServiceEvalCount"
				for="field_elecServiceEvalCount">Elec Service Eval Count</label> <input
				type="number" class="form-control" name="elecServiceEvalCount"
				id="field_elecServiceEvalCount"
				ng-model="vm.electronicService.elecServiceEvalCount" required />
			<div ng-show="editForm.elecServiceEvalCount.$invalid">
				<p class="help-block"
					ng-show="editForm.elecServiceEvalCount.$error.required"
					data-translate="entity.validation.required">This field is
					required.</p>
				<p class="help-block"
					ng-show="editForm.elecServiceEvalCount.$error.number"
					data-translate="entity.validation.number">This field should be
					a number.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.elecServiceEvalTotalScore"
				for="field_elecServiceEvalTotalScore">Elec Service Eval
				Total Score</label> <input type="number" class="form-control"
				name="elecServiceEvalTotalScore"
				id="field_elecServiceEvalTotalScore"
				ng-model="vm.electronicService.elecServiceEvalTotalScore" />
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.elecServiceEvalDate"
				for="field_elecServiceEvalDate">Elec Service Eval Date</label>
			<div class="input-group">
				<input id="field_elecServiceEvalDate" type="text"
					class="form-control" name="elecServiceEvalDate"
					datetime-picker="{{dateformat}}"
					ng-model="vm.electronicService.elecServiceEvalDate"
					is-open="vm.datePickerOpenStatus.elecServiceEvalDate" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('elecServiceEvalDate')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.parentServicefa"
				for="field_parentServicefa">Parent Servicefa</label> <input
				type="text" class="form-control" name="parentServicefa"
				id="field_parentServicefa"
				ng-model="vm.electronicService.parentServicefa" />
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="evaluationApp.electronicService.parentServiceen"
				for="field_parentServiceen">Parent Serviceen</label> <input
				type="text" class="form-control" name="parentServiceen"
				id="field_parentServiceen"
				ng-model="vm.electronicService.parentServiceen" />
		</div>

		<div class="form-group">
			<label data-translate="evaluationApp.electronicService.department"
				for="field_department">Department</label>
			<angucomplete ng-show="locale.lang == 'fa'" pause="100"
				, autoname="departman"
				selectedobject="vm.electronicService.department"
				localdata="vm.departments" searchfields="departmentNamefa"
				titlefield="departmentNamefa" minlength="1"
				inputclass="form-control form-control-small" matchclass="highlight" />

			<angucomplete ng-show="locale.lang == 'en'" pause="100"
				, autoname="departman"
				selectedobject="vm.electronicService.department"
				localdata="vm.departments" searchfields="departmentNameen"
				titlefield="departmentNameen" minlength="1"
				inputclass="form-control form-control-small" matchclass="highlight" />
		</div>
		<div class="form-group">
			<label
				data-translate="evaluationApp.electronicService.diamondCategory"
				for="field_diamondCategory">Diamond Category</label> <select
				ng-show="locale.lang == 'fa'" class="form-control"
				id="field_diamondCategory" multiple name="diamondCategory"
				ng-model="vm.electronicService.diamondCategories"
				ng-options="diamondCategory as diamondCategory.diamondCategoryTitlefa for diamondCategory in vm.diamondcategories track by diamondCategory.id"></select>
			<select ng-show="locale.lang == 'en'" class="form-control"
				id="field_diamondCategory" multiple name="diamondCategory"
				ng-model="vm.electronicService.diamondCategories"
				ng-options="diamondCategory as diamondCategory.diamondCategoryTitleen for diamondCategory in vm.diamondcategories track by diamondCategory.id"></select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				data-translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
