<div ng-cloak>
	<div class="row">
		<center>
			<h2 data-translate="evaluationApp.specialized.title">TreeDepartments</h2>
			<br>
			<div style="width: 45%">
				<button type="button" ng-click="getRandomEvaluation()"
					class="btn btn-success" style="width: 100% !important;"
					data-translate="evaluationApp.specialized.button.get">Success</button>
			</div>
		</center>
	</div>
</div>
