<div>
    <h2 data-translate="evaluationApp.evaluationArchive.home.title">Evaluation Archives</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="evaluation-archive.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.evaluationArchive.home.createLabel">
                        Create new Evaluation Archive
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchTitlefa"><span data-translate="evaluationApp.evaluationArchive.evalArchTitlefa">Eval Arch Titlefa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchTitleen"><span data-translate="evaluationApp.evaluationArchive.evalArchTitleen">Eval Arch Titleen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchPerson"><span data-translate="evaluationApp.evaluationArchive.evalArchPerson">Eval Arch Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchStartDate"><span data-translate="evaluationApp.evaluationArchive.evalArchStartDate">Eval Arch Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchEndDate"><span data-translate="evaluationApp.evaluationArchive.evalArchEndDate">Eval Arch End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchDeadLineDate"><span data-translate="evaluationApp.evaluationArchive.evalArchDeadLineDate">Eval Arch Dead Line Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchLastModifiedDate"><span data-translate="evaluationApp.evaluationArchive.evalArchLastModifiedDate">Eval Arch Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchConfirmedDate"><span data-translate="evaluationApp.evaluationArchive.evalArchConfirmedDate">Eval Arch Confirmed Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchState"><span data-translate="evaluationApp.evaluationArchive.evalArchState">Eval Arch State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchDescriptionfa"><span data-translate="evaluationApp.evaluationArchive.evalArchDescriptionfa">Eval Arch Descriptionfa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchDescriptionen"><span data-translate="evaluationApp.evaluationArchive.evalArchDescriptionen">Eval Arch Descriptionen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchConfirmer"><span data-translate="evaluationApp.evaluationArchive.evalArchConfirmer">Eval Arch Confirmer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchScore"><span data-translate="evaluationApp.evaluationArchive.evalArchScore">Eval Arch Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalArchuationState"><span data-translate="evaluationApp.evaluationArchive.evalArchuationState">Eval Archuation State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="electronicService.elecServiceTitle_fa"><span data-translate="evaluationApp.evaluationArchive.electronicService">Electronic Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="evaluationArchive in vm.evaluationArchives track by evaluationArchive.id">
                    <td><a ui-sref="evaluation-archive-detail({id:evaluationArchive.id})">{{evaluationArchive.id}}</a></td>
                    <td>{{evaluationArchive.evalArchTitlefa}}</td>
                    <td>{{evaluationArchive.evalArchTitleen}}</td>
                    <td>{{evaluationArchive.evalArchPerson}}</td>
                    <td>{{evaluationArchive.evalArchStartDate | date:'medium'}}</td>
                    <td>{{evaluationArchive.evalArchEndDate | date:'medium'}}</td>
                    <td>{{evaluationArchive.evalArchDeadLineDate | date:'medium'}}</td>
                    <td>{{evaluationArchive.evalArchLastModifiedDate | date:'medium'}}</td>
                    <td>{{evaluationArchive.evalArchConfirmedDate | date:'medium'}}</td>
                    <td data-translate="{{'evaluationApp.EvaluationState.' + evaluationArchive.evalArchState}}">{{evaluationArchive.evalArchState}}</td>
                    <td>{{evaluationArchive.evalArchDescriptionfa}}</td>
                    <td>{{evaluationArchive.evalArchDescriptionen}}</td>
                    <td>{{evaluationArchive.evalArchConfirmer}}</td>
                    <td>{{evaluationArchive.evalArchScore}}</td>
                    <td data-translate="{{'evaluationApp.EvaluationState.' + evaluationArchive.evalArchuationState}}">{{evaluationArchive.evalArchuationState}}</td>
                    <td>
                        <a ui-sref="electronic-service-detail({id:evaluationArchive.electronicService.id})">{{evaluationArchive.electronicService.elecServiceTitle_fa}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="evaluation-archive-detail({id:evaluationArchive.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation-archive.edit({id:evaluationArchive.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation-archive.delete({id:evaluationArchive.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
