
<div>
    <h2><span data-translate="evaluationApp.evaluationArchive.detail.title">Evaluation Archive</span> {{vm.evaluationArchive.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchTitlefa">Eval Arch Titlefa</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchTitleen">Eval Arch Titleen</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchTitleen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchPerson">Eval Arch Person</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchPerson}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchStartDate">Eval Arch Start Date</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchStartDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchEndDate">Eval Arch End Date</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchEndDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchDeadLineDate">Eval Arch Dead Line Date</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchDeadLineDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchLastModifiedDate">Eval Arch Last Modified Date</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchLastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchConfirmedDate">Eval Arch Confirmed Date</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchConfirmedDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchState">Eval Arch State</span></dt>
        <dd>
            <span data-translate="{{'evaluationApp.EvaluationState.' + vm.evaluationArchive.evalArchState}}">{{vm.evaluationArchive.evalArchState}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchDescriptionfa">Eval Arch Descriptionfa</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchDescriptionfa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchDescriptionen">Eval Arch Descriptionen</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchDescriptionen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchConfirmer">Eval Arch Confirmer</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchConfirmer}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchScore">Eval Arch Score</span></dt>
        <dd>
            <span>{{vm.evaluationArchive.evalArchScore}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.evalArchuationState">Eval Archuation State</span></dt>
        <dd>
            <span data-translate="{{'evaluationApp.EvaluationState.' + vm.evaluationArchive.evalArchuationState}}">{{vm.evaluationArchive.evalArchuationState}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationArchive.electronicService">Electronic Service</span></dt>
        <dd>
            <a ui-sref="electronic-service-detail({id:vm.evaluationArchive.electronicService.id})">{{vm.evaluationArchive.electronicService.elecServiceTitle_fa}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="evaluation-archive-detail.edit({id:vm.evaluationArchive.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
