
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEvaluationArchiveLabel" data-translate="evaluationApp.evaluationArchive.home.createOrEditLabel">Create or edit a Evaluation Archive</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.evaluationArchive.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.evaluationArchive.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchTitlefa" for="field_evalArchTitlefa">Eval Arch Titlefa</label>
            <input type="text" class="form-control" name="evalArchTitlefa" id="field_evalArchTitlefa"
                    ng-model="vm.evaluationArchive.evalArchTitlefa"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchTitleen" for="field_evalArchTitleen">Eval Arch Titleen</label>
            <input type="text" class="form-control" name="evalArchTitleen" id="field_evalArchTitleen"
                    ng-model="vm.evaluationArchive.evalArchTitleen"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchPerson" for="field_evalArchPerson">Eval Arch Person</label>
            <input type="text" class="form-control" name="evalArchPerson" id="field_evalArchPerson"
                    ng-model="vm.evaluationArchive.evalArchPerson"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchStartDate" for="field_evalArchStartDate">Eval Arch Start Date</label>
                <div class="input-group">
                    <input id="field_evalArchStartDate" type="text" class="form-control" name="evalArchStartDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluationArchive.evalArchStartDate" is-open="vm.datePickerOpenStatus.evalArchStartDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalArchStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchEndDate" for="field_evalArchEndDate">Eval Arch End Date</label>
                <div class="input-group">
                    <input id="field_evalArchEndDate" type="text" class="form-control" name="evalArchEndDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluationArchive.evalArchEndDate" is-open="vm.datePickerOpenStatus.evalArchEndDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalArchEndDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchDeadLineDate" for="field_evalArchDeadLineDate">Eval Arch Dead Line Date</label>
                <div class="input-group">
                    <input id="field_evalArchDeadLineDate" type="text" class="form-control" name="evalArchDeadLineDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluationArchive.evalArchDeadLineDate" is-open="vm.datePickerOpenStatus.evalArchDeadLineDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalArchDeadLineDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchLastModifiedDate" for="field_evalArchLastModifiedDate">Eval Arch Last Modified Date</label>
                <div class="input-group">
                    <input id="field_evalArchLastModifiedDate" type="text" class="form-control" name="evalArchLastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluationArchive.evalArchLastModifiedDate" is-open="vm.datePickerOpenStatus.evalArchLastModifiedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalArchLastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchConfirmedDate" for="field_evalArchConfirmedDate">Eval Arch Confirmed Date</label>
                <div class="input-group">
                    <input id="field_evalArchConfirmedDate" type="text" class="form-control" name="evalArchConfirmedDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluationArchive.evalArchConfirmedDate" is-open="vm.datePickerOpenStatus.evalArchConfirmedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalArchConfirmedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchState" for="field_evalArchState">Eval Arch State</label>
            <select class="form-control" name="evalArchState" ng-model="vm.evaluationArchive.evalArchState" id="field_evalArchState">
                <option value="GENERAL" data-translate="evaluationApp.EvaluationState.GENERAL">GENERAL</option>
                <option value="INPROGRESS" data-translate="evaluationApp.EvaluationState.INPROGRESS">INPROGRESS</option>
                <option value="COMPLETE" data-translate="evaluationApp.EvaluationState.COMPLETE">COMPLETE</option>
                <option value="EXPIRED" data-translate="evaluationApp.EvaluationState.EXPIRED">EXPIRED</option>
                <option value="CONFIRMED" data-translate="evaluationApp.EvaluationState.CONFIRMED">CONFIRMED</option>
                <option value="REJECTED" data-translate="evaluationApp.EvaluationState.REJECTED">REJECTED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchDescriptionfa" for="field_evalArchDescriptionfa">Eval Arch Descriptionfa</label>
            <input type="text" class="form-control" name="evalArchDescriptionfa" id="field_evalArchDescriptionfa"
                    ng-model="vm.evaluationArchive.evalArchDescriptionfa"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchDescriptionen" for="field_evalArchDescriptionen">Eval Arch Descriptionen</label>
            <input type="text" class="form-control" name="evalArchDescriptionen" id="field_evalArchDescriptionen"
                    ng-model="vm.evaluationArchive.evalArchDescriptionen"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchConfirmer" for="field_evalArchConfirmer">Eval Arch Confirmer</label>
            <input type="text" class="form-control" name="evalArchConfirmer" id="field_evalArchConfirmer"
                    ng-model="vm.evaluationArchive.evalArchConfirmer"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchScore" for="field_evalArchScore">Eval Arch Score</label>
            <input type="number" class="form-control" name="evalArchScore" id="field_evalArchScore"
                    ng-model="vm.evaluationArchive.evalArchScore"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationArchive.evalArchuationState" for="field_evalArchuationState">Eval Archuation State</label>
            <select class="form-control" name="evalArchuationState" ng-model="vm.evaluationArchive.evalArchuationState" id="field_evalArchuationState">
                <option value="GENERAL" data-translate="evaluationApp.EvaluationState.GENERAL">GENERAL</option>
                <option value="INPROGRESS" data-translate="evaluationApp.EvaluationState.INPROGRESS">INPROGRESS</option>
                <option value="COMPLETE" data-translate="evaluationApp.EvaluationState.COMPLETE">COMPLETE</option>
                <option value="EXPIRED" data-translate="evaluationApp.EvaluationState.EXPIRED">EXPIRED</option>
                <option value="CONFIRMED" data-translate="evaluationApp.EvaluationState.CONFIRMED">CONFIRMED</option>
                <option value="REJECTED" data-translate="evaluationApp.EvaluationState.REJECTED">REJECTED</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.evaluationArchive.electronicService" for="field_electronicService">Electronic Service</label>
            <select class="form-control" id="field_electronicService" name="electronicService" ng-model="vm.evaluationArchive.electronicService" ng-options="electronicService as electronicService.elecServiceTitle_fa for electronicService in vm.electronicservices track by electronicService.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
