<style>
hr.style18:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
</style>

<div ng-cloak>
	<div class="row">
		<center>
			<h2 data-translate="evaluationApp.judgeEvaluation.detail">Judge Detail</h2>
		</center>
		<br>
		<evaluation style="color:black;" eval="userEval" mode="judge"></evaluation>
		<br>
		<button type="button" class="btn btn-primary" ng-click="confirm()"><span class="glyphicon glyphicon-ok"></span>&nbsp;<span data-translate="evaluationApp.judgeEvaluation.servey">Save</span></button>
		<button class="btn btn-success" data-translate="evaluationApp.judgeEvaluation.print" ng-click="print()"></button>
	</div>
</div>
