
<div>
	<h2  data-translate="evaluationApp.judgeEvaluation.title">JudgeEvalution</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()">
					<th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					
					<th jh-sort-by="answerValue"><span
						data-translate="evaluationApp.evaluation.evalPerson">Eval Person</span> <span class="glyphicon glyphicon-sort"></span></th>

					<th jh-sort-by="evalConfirmer"><span
						data-translate="evaluationApp.evaluation.evalConfirmer">
							Eval Confirmer</span> <span class="glyphicon glyphicon-sort"></span></th>
							
					<th jh-sort-by="electronicService"><span
						data-translate="evaluationApp.evaluation.electronicService">
							Electronic Service</span> <span class="glyphicon glyphicon-sort"></span></th>
							
							<th ng-show="locale.lang == 'fa'" jh-sort-by="evalDescriptionfa"><span
						data-translate="evaluationApp.evaluation.evalDescriptionfa">
							Eval Descriptionfa</span> <span class="glyphicon glyphicon-sort"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="evaluation in vm.evaluations track by evaluation.id">
					<td><a ui-sref="judge-evaluation-detail({id:evaluation.id})">{{evaluation.id}}</a></td>
					<td>{{evaluation.evalPerson}}</td>
					<td>{{evaluation.evalConfirmer}}</td>
					<td ng-show="locale.lang == 'fa'">{{evaluation.electronicService.elecServiceTitlefa}}</td>
					<td ng-show="locale.lang == 'en'">{{evaluation.electronicService.elecServiceTitleen}}</td>
					<td ng-show="locale.lang == 'fa'">{{evaluation.evalDescriptionfa}}</td>
					<td ng-show="locale.lang == 'en'">{{evaluation.evalDescriptionen}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="judge-evaluation.detail({id:evaluation.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-sm-down" data-translate="entity.action.view"></span>
							</button>
						</div>
					</td>
				</tr>
	</div>