
<div>
    <h2><span data-translate="evaluationApp.helpFile.detail.title">Help File</span> {{vm.helpFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.helpFile.fileName">File Name</span></dt>
        <dd>
            <span>{{vm.helpFile.fileName}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.helpFile.fileUrl">File Url</span></dt>
        <dd>
            <span>{{vm.helpFile.fileUrl}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.helpFile.fileSize">File Size</span></dt>
        <dd>
            <span>{{vm.helpFile.fileSize}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.helpFile.fileBlob">File Blob</span></dt>
        <dd>
            <div ng-if="vm.helpFile.fileBlob">
                <a ng-click="vm.openFile(vm.helpFile.fileBlobContentType, vm.helpFile.fileBlob)" data-translate="entity.action.open">open</a>
                {{vm.helpFile.fileBlobContentType}}, {{vm.byteSize(vm.helpFile.fileBlob)}}
            </div>
        </dd>
        <dt><span data-translate="evaluationApp.helpFile.fileIndex">File Index</span></dt>
        <dd>
            <span>{{vm.helpFile.fileIndex}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.helpFile.fileStatus">File Status</span></dt>
        <dd>
            <span data-translate="{{'evaluationApp.FileStatus.' + vm.helpFile.fileStatus}}">{{vm.helpFile.fileStatus}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="help-file-detail.edit({id:vm.helpFile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
