
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHelpFileLabel" data-translate="evaluationApp.helpFile.home.createOrEditLabel">Create or edit a Help File</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.helpFile.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.helpFile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.helpFile.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="vm.helpFile.fileName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.helpFile.fileUrl" for="field_fileUrl">File Url</label>
            <input type="text" class="form-control" name="fileUrl" id="field_fileUrl"
                    ng-model="vm.helpFile.fileUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.helpFile.fileSize" for="field_fileSize">File Size</label>
            <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                    ng-model="vm.helpFile.fileSize"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFileBlob($file, vm.helpFile)">
            <label class="control-label" data-translate="evaluationApp.helpFile.fileBlob" for="field_fileBlob">File Blob</label>
            <div>
                <div ng-if="vm.helpFile.fileBlob" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.helpFile.fileBlobContentType, vm.helpFile.fileBlob)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.helpFile.fileBlobContentType}}, {{vm.byteSize(vm.helpFile.fileBlob)}}</span>
                    <button type="button" ng-click="vm.helpFile.fileBlob=null;vm.helpFile.fileBlobContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFileBlob($file, vm.helpFile)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="fileBlob" id="field_fileBlob"
                    ng-model="vm.helpFile.fileBlob"
                    />
            <input type="hidden" class="form-control" name="fileBlobContentType" id="field_fileBlobContentType"
                    ng-model="vm.helpFile.fileBlobContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.helpFile.fileIndex" for="field_fileIndex">File Index</label>
            <input type="number" class="form-control" name="fileIndex" id="field_fileIndex"
                    ng-model="vm.helpFile.fileIndex"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.helpFile.fileStatus" for="field_fileStatus">File Status</label>
            <select class="form-control" name="fileStatus" ng-model="vm.helpFile.fileStatus" id="field_fileStatus">
                <option value="ENABLE" data-translate="evaluationApp.FileStatus.ENABLE">ENABLE</option>
                <option value="DISABLE" data-translate="evaluationApp.FileStatus.DISABLE">DISABLE</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
