<div>
    <h2 data-translate="evaluationApp.helpFile.home.title">Help Files</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button has-authority="ADMIN" class="btn btn-primary" ui-sref="help-file.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.helpFile.home.createLabel">
                        Create new Help File
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileName"><span data-translate="evaluationApp.helpFile.fileName">File Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ADMIN" jh-sort-by="fileUrl"><span data-translate="evaluationApp.helpFile.fileUrl">File Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ADMIN" jh-sort-by="fileSize"><span data-translate="evaluationApp.helpFile.fileSize">File Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ADMIN" jh-sort-by="fileBlob"><span data-translate="evaluationApp.helpFile.fileBlob">File Blob</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ADMIN" jh-sort-by="fileIndex"><span data-translate="evaluationApp.helpFile.fileIndex">File Index</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ADMIN" jh-sort-by="fileStatus"><span data-translate="evaluationApp.helpFile.fileStatus">File Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="helpFile in vm.helpFiles track by helpFile.id">
                    <td><a ui-sref="help-file-detail({id:helpFile.id})">{{helpFile.id}}</a></td>
                    <td >{{helpFile.fileName}}</td>
                    <td has-authority="ADMIN">{{helpFile.fileUrl}}</td>
                    <td has-authority="ADMIN">{{helpFile.fileSize}}</td>
                    <td has-authority="ADMIN">
                       <!--   <a ng-if="helpFile.fileBlob" ng-click="vm.openFile(helpFile.fileBlobContentType, helpFile.fileBlob)" data-translate="entity.action.open">open</a>-->
                        <span ng-if="helpFile.fileBlob">{{helpFile.fileBlobContentType}}, {{vm.byteSize(helpFile.fileBlob)}}</span>
                    </td>
                    <td has-authority="ADMIN">{{helpFile.fileIndex}}</td>
                    <td has-authority="ADMIN" data-translate="{{'evaluationApp.FileStatus.' + helpFile.fileStatus}}">{{helpFile.fileStatus}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ng-click="vm.download({id:helpFile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button has-authority="ADMIN" type="submit"
                                    ui-sref="help-file.edit({id:helpFile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button has-authority="ADMIN" type="submit"
                                    ui-sref="help-file.delete({id:helpFile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
