
<div>
    <h2><span data-translate="evaluationApp.maturityStage.detail.title">Maturity Stage</span> {{vm.maturityStage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.maturityStage.maturityStageTitlefa">Maturity Stage Titlefa</span></dt>
        <dd>
            <span>{{vm.maturityStage.maturityStageTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.maturityStage.maturityStageTitleen">Maturity Stage Titleen</span></dt>
        <dd>
            <span>{{vm.maturityStage.maturityStageTitleen}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="maturity-stage-detail.edit({id:vm.maturityStage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
