
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMaturityStageLabel" data-translate="evaluationApp.maturityStage.home.createOrEditLabel">Create or edit a Maturity Stage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.maturityStage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.maturityStage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.maturityStage.maturityStageTitlefa" for="field_maturityStageTitlefa">Maturity Stage Titlefa</label>
            <input type="text" class="form-control" name="maturityStageTitlefa" id="field_maturityStageTitlefa"
                    ng-model="vm.maturityStage.maturityStageTitlefa"
                    required/>
            <div ng-show="editForm.maturityStageTitlefa.$invalid">
                <p class="help-block"
                    ng-show="editForm.maturityStageTitlefa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.maturityStage.maturityStageTitleen" for="field_maturityStageTitleen">Maturity Stage Titleen</label>
            <input type="text" class="form-control" name="maturityStageTitleen" id="field_maturityStageTitleen"
                    ng-model="vm.maturityStage.maturityStageTitleen"
                    required/>
            <div ng-show="editForm.maturityStageTitleen.$invalid">
                <p class="help-block"
                    ng-show="editForm.maturityStageTitleen.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
