
<div>
    <h2><span data-translate="evaluationApp.diamondCategory.detail.title">Diamond Category</span> {{vm.diamondCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.diamondCategory.diamondCategoryTitlefa">Diamond Category Titlefa</span></dt>
        <dd>
            <span>{{vm.diamondCategory.diamondCategoryTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.diamondCategory.diamondCategoryTitleen">Diamond Category Titleen</span></dt>
        <dd>
            <span>{{vm.diamondCategory.diamondCategoryTitleen}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="diamond-category-detail.edit({id:vm.diamondCategory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
