
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDiamondCategoryLabel" data-translate="evaluationApp.diamondCategory.home.createOrEditLabel">Create or edit a Diamond Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.diamondCategory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.diamondCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.diamondCategory.diamondCategoryTitlefa" for="field_diamondCategoryTitlefa">Diamond Category Titlefa</label>
            <input type="text" class="form-control" name="diamondCategoryTitlefa" id="field_diamondCategoryTitlefa"
                    ng-model="vm.diamondCategory.diamondCategoryTitlefa"
                    required/>
            <div ng-show="editForm.diamondCategoryTitlefa.$invalid">
                <p class="help-block"
                    ng-show="editForm.diamondCategoryTitlefa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.diamondCategory.diamondCategoryTitleen" for="field_diamondCategoryTitleen">Diamond Category Titleen</label>
            <input type="text" class="form-control" name="diamondCategoryTitleen" id="field_diamondCategoryTitleen"
                    ng-model="vm.diamondCategory.diamondCategoryTitleen"
                    required/>
            <div ng-show="editForm.diamondCategoryTitleen.$invalid">
                <p class="help-block"
                    ng-show="editForm.diamondCategoryTitleen.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
