<div class="row">

	<div class="col-md-8">
		<div>
			<canvas id="bar" class="chart chart-bar" chart-options="barOptions"
				chart-data="barData" chart-colors="chartColors"
				chart-series="barSeries" chart-labels="barLabels"> </canvas>
		</div>
	</div>
	<br>

	<div class="col-md-8">
		<div>
			<canvas id="bar" class="chart chart-radar" chart-options="barOptions"
				chart-data="barData" chart-colors="chartColors"
				chart-series="barSeries" chart-labels="barLabels"></canvas>
		</div>
	</div>
	<br>
	<div class="col-md-8">
		<div>
			<canvas id="bar" class="chart chart-pie" chart-options="pieOptions"
				chart-data="barData" chart-colors="chartColors"
				chart-series="barSeries" chart-labels="barLabels"> </canvas>
		</div>
	</div>
	<br>
	<div class="col-md-8">
		<div>
			<canvas id="bar" class="chart chart-doughnut"
				chart-options="pieOptions" chart-data="barData"
				chart-colors="chartColors" chart-series="barSeries"
				chart-labels="barLabels"></canvas>
		</div>
	</div>
</div>