<div class="panel panel-success" style="color: black;">
	<div data-translate="report.main" class="panel-heading">department</div>
	<div class="panel-body">

		<div class="row">

			<div class="col-md-6">
				<tree nodes="treeNodes" options="options" locale="locale.lang">
			</div>

			<div class="col-md-6">

				<div class="col-md-6">
					<label data-translate="report.fromDate"></label>
					<datebox ng-model="report.fromDateStr"></datebox>
				</div>

				<div class="col-md-6">
					<label data-translate="report.toDate"></label>
					<datebox ng-model="report.toDateStr"></datebox>
				</div>

			</div>

		</div>

		<br>

		<div class="row" ng-switch="mode">

			<div class="col-md-6" ng-switch-when="service">

				<label data-translate="report.elecService"></label>
				
				
				<angucomplete ng-show="locale.lang == 'fa'" pause="100" selectedobject="report.electronicService"
						autoname="elecServiceDepartment" localdata="elecServiceDepartment"
						searchfields="elecServiceTitlefa" titlefield="elecServiceTitlefa"
						minlength="1" inputclass="form-control form-control-small"
						matchclass="highlight" />
					<angucomplete ng-show="locale.lang == 'en'" pause="100" selectedobject="report.electronicService"
						autoname="elecServiceDepartment" localdata="elecServiceDepartment"
						searchfields="elecServiceTitleen" titlefield="elecServiceTitleen"
						minlength="1" inputclass="form-control form-control-small"
						matchclass="highlight" />
<!-- 				 <select -->
<!-- 					ng-show="locale.lang == 'fa'" class="form-control" -->
<!-- 					id="field_parent" name="elecServ" -->
<!-- 					ng-model="report.electronicService" -->
<!-- 					ng-options="esd as esd.elecServiceTitlefa for esd in elecServiceDepartment track by esd.id"> -->
<!-- 					<option value=""></option> -->
<!-- 				</select> <select ng-show="locale.lang == 'en'" class="form-control" -->
<!-- 					id="field_parent" name="elecServ" -->
<!-- 					ng-model="report.electronicService" -->
<!-- 					ng-options="esd as esd.elecServiceTitleen for esd in elecServiceDepartment track by esd.id"> -->
<!-- 					<option value=""></option> -->
<!-- 				</select>-->
 <label data-translate="report.selectedElecService"></label> <select 
					ng-show="locale.lang == 'fa'" multiple class="form-control"
					id="field_parent" ng-model="report.selectedService"
					ng-options="e as e.elecServiceTitlefa for e in report.electronicServiceList track by e.id">
					<option value=""></option>
				</select> <select ng-show="locale.lang == 'en'" multiple class="form-control"
					id="field_parent" ng-model="report.selectedService"
					ng-options="e as e.elecServiceTitleen for e in report.electronicServiceList track by e.id">
					<option value=""></option>
				</select>

				<div class="col-md-6">
					<button data-translate="entity.action.add" class="btn btn-info"
						ng-click="addService(report.electronicService)" value="add"></button>
				</div>

				<div class="col-md-6">
					<button data-translate="entity.action.remove"
						class="btn btn-danger"
						ng-click="removeService(report.selectedService)" value="remove"></button>
				</div>

			</div>

			<div class="col-md-6" ng-switch-when="department">

				<label data-translate="report.selectedDepartment"></label> <select
					ng-show="locale.lang == 'fa'" multiple class="form-control"
					id="field_parent" ng-model="report.selectedDepartment"
					ng-options="e as e.namefa for e in report.departments track by e.id">
					<option value=""></option>
				</select> <select ng-show="locale.lang == 'en'" multiple
					class="form-control" id="field_parent"
					ng-model="report.selectedService"
					ng-options="e as e.nameen for e in report.departments track by e.id">
					<option value=""></option>
				</select>

				<div class="col-md-6">
					<button data-translate="entity.action.add" class="btn btn-info"
						ng-click="addDepartment(selectedDepartment)" value="add"></button>
				</div>

				<div class="col-md-6">
					<button data-translate="entity.action.remove"
						class="btn btn-danger"
						ng-click="removeDepartment(report.selectedDepartment)"
						value="remove"></button>
				</div>

		</div>
		<div class="col-md-6">

			<label data-translate="report.question"></label>
			
			
			<angucomplete ng-show="locale.lang == 'fa'" pause="100" selectedobject="report.question"
						autoname="questions" localdata="questions"
						searchfields="questionTitlefa" titlefield="questionTitlefa"
						minlength="1" inputclass="form-control form-control-small"
						matchclass="highlight" />
					<angucomplete ng-show="locale.lang == 'en'" pause="100" selectedobject="report.question"
						autoname="questions" localdata="questions"
						searchfields="questionTitleen" titlefield="questionTitleen"
						minlength="1" inputclass="form-control form-control-small"
						matchclass="highlight" />
			
<!-- 			 <select -->
<!-- 				ng-show="locale.lang == 'fa'" class="form-control" id="field_parent" -->
<!-- 				name="elecServ" ng-model="report.question" -->
<!-- 				ng-options="q as q.questionTitlefa for q in questions track by q.id"> -->
<!-- 				<option value=""></option> -->
<!-- 			</select> <select ng-show="locale.lang == 'en'" class="form-control" -->
<!-- 				id="field_parent" name="elecServ" ng-model="report.question" -->
<!-- 				ng-options="q as q.questionTitlefa for q in questions track by q.id"> -->
<!-- 				<option value=""></option> -->
<!-- 			</select> -->
			
			 <label data-translate="report.selectedQuestions"></label> <select
				ng-show="locale.lang == 'fa'" multiple class="form-control"
				id="field_parent" ng-model="report.selectedQuestion"
				ng-options="q as q.questionTitlefa for q in report.questions track by q.id">
				<option value=""></option>
			</select> <select ng-show="locale.lang == 'en'" multiple class="form-control"
				id="field_parent" ng-model="report.selectedQuestion"
				ng-options="q as q.questionTitleen for q in report.questions track by q.id">
				<option value=""></option>
			</select>

			<div class="col-md-6">
				<button data-translate="entity.action.add" class="btn btn-info"
					ng-click="addQuestion(report.question)" value="add"></button>
			</div>

			<div class="col-md-6">
				<button data-translate="entity.action.remove" class="btn btn-danger"
					ng-click="removeQuestion(report.selectedQuestion)" value="remove"></button>
			</div>

		</div>
	</div>

	<br>

	<center>
		<button type="button" class="btn btn-success"
			data-translate="report.main" ng-click="createReport(false)"></button>
	</center>
</div>
</div>

<div class="panel panel-success" ng-show="showBarChart">

	<div data-translate="report.result" class="panel-heading">department</div>
	<div class="panel-body">

		<div class="row">

			<div class="col-md-12">
				<div>
					<canvas id="bar" class="chart chart-bar" chart-options="barOptions"
						chart-data="barData" chart-colors="chartColors"
						chart-series="barSeries" chart-labels="barLabels"> </canvas>
				</div>
			</div>
<br>
			<div class="col-md-12">
				<div>
					<canvas id="bar" class="chart chart-radar"
						chart-options="barOptions" chart-data="barData"
						chart-colors="chartColors" chart-series="barSeries"
						chart-labels="barLabels"></canvas>
				</div>
			</div>
<br>
			<div class="col-md-12">
				<div>
					<canvas id="bar" class="chart chart-pie" chart-options="pieOptions"
						chart-data="barData" chart-colors="chartColors"
						chart-series="barSeries" chart-labels="barLabels"> </canvas>
				</div>
			</div>
<br>
			<div class="col-md-12">
				<div>
					<canvas id="bar" class="chart chart-doughnut"
						chart-options="pieOptions" chart-data="barData"
						chart-colors="chartColors" chart-series="barSeries"
						chart-labels="barLabels"></canvas>
				</div>
			</div>

			<center>

				<button type="button" class="btn btn-success"
					data-translate="report.download" ng-click="createReport(true)"></button>

				<button type="button" class="btn btn-success"
					data-translate="report.print" ng-click="printReport()"></button>

			</center>

		</div>
	</div>
</div>
</div>