<div>
	<h2 data-translate="evaluationApp.answer.home.title">Answers</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="answer.new">
					<span class="glyphicon glyphicon-plus"></span> <span
						data-translate="evaluationApp.answer.home.createLabel">
						Create new Answer </span>
				</button>
			</div>
			<div class="col-xs-8 no-padding-right">
				<form name="searchForm" class="form-inline">
					<div class="input-group pull-right">
						<input type="text" class="form-control" ng-model="vm.searchQuery"
							id="searchQuery" placeholder=""> <span
							class="input-group-btn width-min">
							<button class="btn btn-info"
								style="border-radius: 5px 5px 5px 5px !important;"
								ng-click="vm.search(vm.searchQuery)">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> <span class="input-group-btn width-min" ng-if="vm.currentSearch">
							<button class="btn btn-info" ng-click="vm.clear()">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()">
					<th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="answerTitlefa"><span
						data-translate="evaluationApp.answer.answerTitlefa">Answer
							Titlefa</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="answerTitleen"><span
						data-translate="evaluationApp.answer.answerTitleen">Answer
							Titleen</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="answerValue"><span
						data-translate="evaluationApp.answer.answerValue">Answer
							Value</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th ng-show="locale.lang == 'fa'"
						jh-sort-by="question.questionTitlefa"><span
						data-translate="evaluationApp.answer.question">Question</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th ng-show="locale.lang == 'en'"
						jh-sort-by="question.questionTitleen"><span
						data-translate="evaluationApp.answer.question">Question</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="answer in vm.answers track by answer.id">
					<td><a ui-sref="answer-detail({id:answer.id})">{{answer.id}}</a></td>
					<td>{{answer.answerTitlefa}}</td>
					<td>{{answer.answerTitleen}}</td>
					<td>{{answer.answerValue}}</td>
					<td ng-show="locale.lang == 'fa'"><a
						ui-sref="question-detail({id:answer.question.id})">{{answer.question.questionTitlefa}}</a>
					</td>
					<td ng-show="locale.lang == 'en'"><a
						ui-sref="question-detail({id:answer.question.id})">{{answer.question.questionTitleen}}</a>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="answer-detail({id:answer.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-sm-down" data-translate="entity.action.view"></span>
							</button>
							<button type="submit" ui-sref="answer.edit({id:answer.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-sm-down" data-translate="entity.action.edit"></span>
							</button>
							<button type="submit" ui-sref="answer.delete({id:answer.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-sm-down" data-translate="entity.action.delete"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems"
			items-per-page="vm.itemsPerPage" ng-model="vm.page"
			ng-change="vm.transition()"></uib-pagination>
	</div>
</div>
