
<div>
    <h2><span data-translate="evaluationApp.answer.detail.title">Answer</span> {{vm.answer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.answer.answerTitlefa">Answer Titlefa</span></dt>
        <dd>
            <span>{{vm.answer.answerTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.answer.answerTitleen">Answer Titleen</span></dt>
        <dd>
            <span>{{vm.answer.answerTitleen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.answer.answerValue">Answer Value</span></dt>
        <dd>
            <span>{{vm.answer.answerValue}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.answer.question">Question</span></dt>
        <dd ng-show = "locale.lang == 'fa'">
            <a ui-sref="question-detail({id:vm.answer.question.id})">{{vm.answer.question.questionTitlefa}}</a>
        </dd>
        <dd ng-show = "locale.lang == 'en'">
            <a ui-sref="question-detail({id:vm.answer.question.id})">{{vm.answer.question.questionTitleen}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="answer-detail.edit({id:vm.answer.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
