
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnswerLabel" data-translate="evaluationApp.answer.home.createOrEditLabel">Create or edit a Answer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.answer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.answer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.answer.answerTitlefa" for="field_answerTitlefa">Answer Titlefa</label>
            <input type="text" class="form-control" name="answerTitlefa" id="field_answerTitlefa"
                    ng-model="vm.answer.answerTitlefa"
                    required/>
            <div ng-show="editForm.answerTitlefa.$invalid">
                <p class="help-block"
                    ng-show="editForm.answerTitlefa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.answer.answerTitleen" for="field_answerTitleen">Answer Titleen</label>
            <input type="text" class="form-control" name="answerTitleen" id="field_answerTitleen"
                    ng-model="vm.answer.answerTitleen"
                    required/>
            <div ng-show="editForm.answerTitleen.$invalid">
                <p class="help-block"
                    ng-show="editForm.answerTitleen.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.answer.answerValue" for="field_answerValue">Answer Value</label>
            <input type="number" class="form-control" name="answerValue" id="field_answerValue"
                    ng-model="vm.answer.answerValue"
                    required/>
            <div ng-show="editForm.answerValue.$invalid">
                <p class="help-block"
                    ng-show="editForm.answerValue.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.answerValue.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.answer.question" for="field_question">Question</label>
			<angucomplete ng-show = "locale.lang  == 'fa'" pause="100" autoname = "question"
				selectedobject="vm.answer.question" localdata="vm.questions"
				searchfields="questionTitlefa" titlefield="questionTitlefa"
				minlength="1" inputclass="form-control form-control-small"
				matchclass="highlight" /> 
			<angucomplete ng-show = "locale.lang  == 'en'" pause="100" autoname = "question"
				selectedobject="vm.answer.question" localdata="vm.questions"
				searchfields="questionTitleen" titlefield="questionTitleen"
				minlength="1" inputclass="form-control form-control-small"
				matchclass="highlight" /> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
