
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myElecServiceMaturityStateLabel" data-translate="evaluationApp.elecServiceMaturityState.home.createOrEditLabel">Create or edit a Elec Service Maturity State</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.elecServiceMaturityState.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.elecServiceMaturityState.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.elecServiceMaturityState.elecMaturityStateScore" for="field_elecMaturityStateScore">Elec Maturity State Score</label>
            <input type="number" class="form-control" name="elecMaturityStateScore" id="field_elecMaturityStateScore"
                    ng-model="vm.elecServiceMaturityState.elecMaturityStateScore"
                    />
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.elecServiceMaturityState.maturityStage" for="field_maturityStage">Maturity Stage</label>
            <select class="form-control" id="field_maturityStage" name="maturityStage" ng-model="vm.elecServiceMaturityState.maturityStage" ng-options="maturityStage as maturityStage.maturityStageTitlefa for maturityStage in vm.maturitystages track by maturityStage.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.elecServiceMaturityState.electronicService" for="field_electronicService">Electronic Service</label>
            <select class="form-control" id="field_electronicService" name="electronicService" ng-model="vm.elecServiceMaturityState.electronicService" ng-options="electronicService as electronicService.elecServiceTitlefa for electronicService in vm.electronicservices track by electronicService.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
