
<div>
    <h2><span data-translate="evaluationApp.elecServiceMaturityState.detail.title">Elec Service Maturity State</span> {{vm.elecServiceMaturityState.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.elecServiceMaturityState.elecMaturityStateScore">Elec Maturity State Score</span></dt>
        <dd>
            <span>{{vm.elecServiceMaturityState.elecMaturityStateScore}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.elecServiceMaturityState.maturityStage">Maturity Stage</span></dt>
        <dd>
            <a ui-sref="maturity-stage-detail({id:vm.elecServiceMaturityState.maturityStage.id})">{{vm.elecServiceMaturityState.maturityStage.maturityStageTitlefa}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.elecServiceMaturityState.electronicService">Electronic Service</span></dt>
        <dd>
            <a ui-sref="electronic-service-detail({id:vm.elecServiceMaturityState.electronicService.id})">{{vm.elecServiceMaturityState.electronicService.elecServiceTitlefa}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="elec-service-maturity-state-detail.edit({id:vm.elecServiceMaturityState.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
