<div>
    <h2 data-translate="evaluationApp.elecServiceMaturityState.home.title">Elec Service Maturity States</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="elec-service-maturity-state.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.elecServiceMaturityState.home.createLabel">
                        Create new Elec Service Maturity State
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="elecMaturityStateScore"><span data-translate="evaluationApp.elecServiceMaturityState.elecMaturityStateScore">Elec Maturity State Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maturityStage.maturityStageTitlefa"><span data-translate="evaluationApp.elecServiceMaturityState.maturityStage">Maturity Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="electronicService.elecServiceTitlefa"><span data-translate="evaluationApp.elecServiceMaturityState.electronicService">Electronic Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="elecServiceMaturityState in vm.elecServiceMaturityStates track by elecServiceMaturityState.id">
                    <td><a ui-sref="elec-service-maturity-state-detail({id:elecServiceMaturityState.id})">{{elecServiceMaturityState.id}}</a></td>
                    <td>{{elecServiceMaturityState.elecMaturityStateScore}}</td>
                    <td>
                        <a ui-sref="maturity-stage-detail({id:elecServiceMaturityState.maturityStage.id})">{{elecServiceMaturityState.maturityStage.maturityStageTitlefa}}</a>
                    </td>
                    <td>
                        <a ui-sref="electronic-service-detail({id:elecServiceMaturityState.electronicService.id})">{{elecServiceMaturityState.electronicService.elecServiceTitlefa}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="elec-service-maturity-state-detail({id:elecServiceMaturityState.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="elec-service-maturity-state.edit({id:elecServiceMaturityState.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="elec-service-maturity-state.delete({id:elecServiceMaturityState.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
