
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDepartmentLabel" data-translate="evaluationApp.department.home.createOrEditLabel">Create or edit a Department</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.department.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.department.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.department.departmentNamefa" for="field_departmentNamefa">Department Namefa</label>
            <input type="text" class="form-control" name="departmentNamefa" id="field_departmentNamefa"
                    ng-model="vm.department.departmentNamefa"
                    required/>
            <div ng-show="editForm.departmentNamefa.$invalid">
                <p class="help-block"
                    ng-show="editForm.departmentNamefa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.department.departmentNameen" for="field_departmentNameen">Department Nameen</label>
            <input type="text" class="form-control" name="departmentNameen" id="field_departmentNameen"
                    ng-model="vm.department.departmentNameen"
                    required/>
            <div ng-show="editForm.departmentNameen.$invalid">
                <p class="help-block"
                    ng-show="editForm.departmentNameen.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.department.electronicServiceCount" for="field_electronicServiceCount">Electronic Service Count</label>
            <input type="number" class="form-control" name="electronicServiceCount" id="field_electronicServiceCount"
                    ng-model="vm.department.electronicServiceCount"
                    />
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.department.parent" for="field_parent">Parent</label>
            
            
            <angucomplete ng-show = "locale.lang  == 'fa'" pause="100" autoname = "department"
				selectedobject="vm.department.parent" localdata="vm.departments"
				searchfields="departmentNamefa" titlefield="departmentNamefa"
				minlength="1" inputclass="form-control form-control-small"
				matchclass="highlight" /> 
			<angucomplete ng-show = "locale.lang  == 'en'" pause="100" autoname = "department"
				selectedobject="vm.department.parent" localdata="vm.departments"
				searchfields="departmentNameen" titlefield="departmentNameen"
				minlength="1" inputclass="form-control form-control-small"
				matchclass="highlight" />
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
