
<div>
    <h2><span data-translate="evaluationApp.department.detail.title">Department</span> {{vm.department.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.department.departmentNamefa">Department Namefa</span></dt>
        <dd>
            <span>{{vm.department.departmentNamefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.department.departmentNameen">Department Nameen</span></dt>
        <dd>
            <span>{{vm.department.departmentNameen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.department.electronicServiceCount">Electronic Service Count</span></dt>
        <dd>
            <span>{{vm.department.electronicServiceCount}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.department.parent">Parent</span></dt>
        <dd ng-show = "locale.lang == 'fa'">
            <a ui-sref="department-detail({id:vm.department.parent.id})">{{vm.department.parent.departmentNamefa}}</a>
        </dd>
        <dd ng-show = "locale.lang == 'en'">
            <a ui-sref="department-detail({id:vm.department.parent.id})">{{vm.department.parent.departmentNameen}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="department-detail.edit({id:vm.department.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
