<div>
    <h2 data-translate="evaluationApp.department.home.title">Departments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="department.new">
					<span class="glyphicon glyphicon-plus"></span> <span
						data-translate="evaluationApp.department.home.createLabel">
						Create new Department </span>
				</button>
			</div>
			<div class="col-xs-8 no-padding-right">
				<form name="searchForm" class="form-inline">
					<div class="input-group pull-right">
						<input type="text" class="form-control" ng-model="vm.searchQuery"
							id="searchQuery" placeholder=""> <span
							class="input-group-btn width-min">
							<button class="btn btn-info"
								style="border-radius: 5px 5px 5px 5px !important;"
								ng-click="vm.search(vm.searchQuery)">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> <span class="input-group-btn width-min" ng-if="vm.currentSearch">
							<button class="btn btn-info" ng-click="vm.clear()">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="departmentNamefa"><span data-translate="evaluationApp.department.departmentNamefa">Department Namefa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="departmentNameen"><span data-translate="evaluationApp.department.departmentNameen">Department Nameen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="electronicServiceCount"><span data-translate="evaluationApp.department.electronicServiceCount">Electronic Service Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-show = "locale.lang == 'fa'" jh-sort-by="parent.departmentNamefa"><span data-translate="evaluationApp.department.parent">Parent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-show = "locale.lang == 'en'" jh-sort-by="parent.departmentNameen"><span data-translate="evaluationApp.department.parent">Parent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="department in vm.departments track by department.id">
                    <td><a ui-sref="department-detail({id:department.id})">{{department.id}}</a></td>
                    <td>{{department.departmentNamefa}}</td>
                    <td>{{department.departmentNameen}}</td>
                    <td>{{department.electronicServiceCount}}</td>
                    <td ng-show = "locale.lang == 'fa'">
                        <a ui-sref="department-detail({id:department.parent.id})">{{department.parent.departmentNamefa}}</a>
                    </td>
                    <td ng-show = "locale.lang == 'en'">
                        <a ui-sref="department-detail({id:department.parent.id})">{{department.parent.departmentNameen}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="department-detail({id:department.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="department.edit({id:department.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="department.delete({id:department.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
