<div>
    <h2>
        <span data-translate="userManagement.detail.title">User</span> [<b>{{vm.user.login}}</b>]
    </h2>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="userManagement.login">Login</span></dt>
        <dd>
            <span>{{vm.user.login}}</span>
            <span class="label label-danger" ng-show="!vm.user.activated"
                  data-translate="userManagement.deactivated">Deactivated</span>
            <span class="label label-success" ng-show="vm.user.activated"
                  data-translate="userManagement.activated">Activated</span>
        </dd>
        <dt><span data-translate="userManagement.firstName">First Name</span></dt>
        <dd>{{vm.user.firstName}}</dd>
        <dt><span data-translate="userManagement.lastName">Last Name</span></dt>
        <dd>{{vm.user.lastName}}</dd>
        <dt><span data-translate="userManagement.nationalID">nationalID</span></dt>
        <dd>{{vm.user.nationalID}}</dd>
        <dt><span data-translate="userManagement.email">Email</span></dt>
        <dd>{{vm.user.email}}</dd>
        <dt><span data-translate="userManagement.langKey">Lang Key</span></dt>
        <dd>{{vm.user.langKey}}</dd>
        <dt><span data-translate="userManagement.createdBy">Created By</span></dt>
        <dd>{{vm.user.createdBy}}</dd>
        <dt><span data-translate="userManagement.createdDate">Created Date</span></dt>
        <dd>{{vm.user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span data-translate="userManagement.lastModifiedBy">Last Modified By</span></dt>
        <dd>{{vm.user.lastModifiedBy}}</dd>
        <dt><span data-translate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{vm.user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span data-translate="userManagement.profiles">Profiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li ng-repeat="authority in vm.user.authorities">
                    <span class="label label-info">{{authority}}</span>
                </li>
            </ul>
        </dd>
    </dl>
    <button type="submit"
            ui-sref="user-management"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
</div>
