
<style>
hr.style18:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
</style>

<div ng-cloak>
	<div class="row">
		<center>
			<h2 data-translate="evaluationApp.expert.title">Do Expert</h2>
		</center>
		<br>
		<evaluation style="color:black;" eval="userEval" mode="expert"></evaluation>
		<br>

	</div>
</div>
