
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myElecServiceDiamondCategoryLabel" data-translate="evaluationApp.elecServiceDiamondCategory.home.createOrEditLabel">Create or edit a Elec Service Diamond Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.elecServiceDiamondCategory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.elecServiceDiamondCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.elecServiceDiamondCategory.elecDiamondCategoryScore" for="field_elecDiamondCategoryScore">Elec Diamond Category Score</label>
            <input type="number" class="form-control" name="elecDiamondCategoryScore" id="field_elecDiamondCategoryScore"
                    ng-model="vm.elecServiceDiamondCategory.elecDiamondCategoryScore"
                    />
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.elecServiceDiamondCategory.diamondCategory" for="field_diamondCategory">Diamond Category</label>
            <select class="form-control" id="field_diamondCategory" name="diamondCategory" ng-model="vm.elecServiceDiamondCategory.diamondCategory" ng-options="diamondCategory as diamondCategory.diamondCategoryTitlefa for diamondCategory in vm.diamondcategories track by diamondCategory.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.elecServiceDiamondCategory.electronicService" for="field_electronicService">Electronic Service</label>
            <select class="form-control" id="field_electronicService" name="electronicService" ng-model="vm.elecServiceDiamondCategory.electronicService" ng-options="electronicService as electronicService.elecServiceTitlefa for electronicService in vm.electronicservices track by electronicService.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
