
<div>
    <h2><span data-translate="evaluationApp.elecServiceDiamondCategory.detail.title">Elec Service Diamond Category</span> {{vm.elecServiceDiamondCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.elecServiceDiamondCategory.elecDiamondCategoryScore">Elec Diamond Category Score</span></dt>
        <dd>
            <span>{{vm.elecServiceDiamondCategory.elecDiamondCategoryScore}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.elecServiceDiamondCategory.diamondCategory">Diamond Category</span></dt>
        <dd>
            <a ui-sref="diamond-category-detail({id:vm.elecServiceDiamondCategory.diamondCategory.id})">{{vm.elecServiceDiamondCategory.diamondCategory.diamondCategoryTitlefa}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.elecServiceDiamondCategory.electronicService">Electronic Service</span></dt>
        <dd>
            <a ui-sref="electronic-service-detail({id:vm.elecServiceDiamondCategory.electronicService.id})">{{vm.elecServiceDiamondCategory.electronicService.elecServiceTitlefa}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="elec-service-diamond-category-detail.edit({id:vm.elecServiceDiamondCategory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
