<div>
    <h2 data-translate="evaluationApp.elecServiceDiamondCategory.home.title">Elec Service Diamond Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="elec-service-diamond-category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.elecServiceDiamondCategory.home.createLabel">
                        Create new Elec Service Diamond Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="elecDiamondCategoryScore"><span data-translate="evaluationApp.elecServiceDiamondCategory.elecDiamondCategoryScore">Elec Diamond Category Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diamondCategory.diamondCategoryTitle_fa"><span data-translate="evaluationApp.elecServiceDiamondCategory.diamondCategory">Diamond Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="electronicService.elecServiceTitle_fa"><span data-translate="evaluationApp.elecServiceDiamondCategory.electronicService">Electronic Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="elecServiceDiamondCategory in vm.elecServiceDiamondCategories track by elecServiceDiamondCategory.id">
                    <td><a ui-sref="elec-service-diamond-category-detail({id:elecServiceDiamondCategory.id})">{{elecServiceDiamondCategory.id}}</a></td>
                    <td>{{elecServiceDiamondCategory.elecDiamondCategoryScore}}</td>
                    <td>
                        <a ui-sref="diamond-category-detail({id:elecServiceDiamondCategory.diamondCategory.id})">{{elecServiceDiamondCategory.diamondCategory.diamondCategoryTitlefa}}</a>
                    </td>
                    <td>
                        <a ui-sref="electronic-service-detail({id:elecServiceDiamondCategory.electronicService.id})">{{elecServiceDiamondCategory.electronicService.elecServiceTitlefa}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="elec-service-diamond-category-detail({id:elecServiceDiamondCategory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="elec-service-diamond-category.edit({id:elecServiceDiamondCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="elec-service-diamond-category.delete({id:elecServiceDiamondCategory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
