
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUnMaturityModelLabel" data-translate="evaluationApp.unMaturityModel.home.createOrEditLabel">Create or edit a Un Maturity Model</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.unMaturityModel.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.unMaturityModel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.unMaturityModel.unMaturityTitlefa" for="field_unMaturityTitlefa">Un Maturity Titlefa</label>
            <input type="text" class="form-control" name="unMaturityTitlefa" id="field_unMaturityTitlefa"
                    ng-model="vm.unMaturityModel.unMaturityTitlefa"
                    required/>
            <div ng-show="editForm.unMaturityTitlefa.$invalid">
                <p class="help-block"
                    ng-show="editForm.unMaturityTitlefa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.unMaturityModel.unMaturityTitleen" for="field_unMaturityTitleen">Un Maturity Titleen</label>
            <input type="text" class="form-control" name="unMaturityTitleen" id="field_unMaturityTitleen"
                    ng-model="vm.unMaturityModel.unMaturityTitleen"
                    required/>
            <div ng-show="editForm.unMaturityTitleen.$invalid">
                <p class="help-block"
                    ng-show="editForm.unMaturityTitleen.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
