
<div>
    <h2><span data-translate="evaluationApp.unMaturityModel.detail.title">Un Maturity Model</span> {{vm.unMaturityModel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.unMaturityModel.unMaturityTitlefa">Un Maturity Titlefa</span></dt>
        <dd>
            <span>{{vm.unMaturityModel.unMaturityTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.unMaturityModel.unMaturityTitleen">Un Maturity Titleen</span></dt>
        <dd>
            <span>{{vm.unMaturityModel.unMaturityTitleen}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="un-maturity-model-detail.edit({id:vm.unMaturityModel.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
