<div>
    <h2 data-translate="evaluationApp.unMaturityModel.home.title">Un Maturity Models</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="un-maturity-model.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.unMaturityModel.home.createLabel">
                        Create new Un Maturity Model
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unMaturityTitlefa"><span data-translate="evaluationApp.unMaturityModel.unMaturityTitlefa">Un Maturity Titlefa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unMaturityTitleen"><span data-translate="evaluationApp.unMaturityModel.unMaturityTitleen">Un Maturity Titleen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unMaturityModel in vm.unMaturityModels track by unMaturityModel.id">
                    <td><a ui-sref="un-maturity-model-detail({id:unMaturityModel.id})">{{unMaturityModel.id}}</a></td>
                    <td>{{unMaturityModel.unMaturityTitlefa}}</td>
                    <td>{{unMaturityModel.unMaturityTitleen}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="un-maturity-model-detail({id:unMaturityModel.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="un-maturity-model.edit({id:unMaturityModel.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="un-maturity-model.delete({id:unMaturityModel.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
