<div ng-cloak>
	<h2
		data-translate="global.menu.specialized-evaluation.my-specialized-evaluation">Evaluations</h2>
	<br>

	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()">
					<th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="evalPerson"><span
						data-translate="evaluationApp.evaluation.evalPerson">Eval
							Person</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="evalStartDate"><span
						data-translate="evaluationApp.evaluation.evalStartDate">Eval
							Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="evalEndDate"><span
						data-translate="evaluationApp.evaluation.evalEndDate">Eval
							End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="evalDeadLineDate"><span
						data-translate="evaluationApp.evaluation.evalDeadLineDate">Eval
							Dead Line Date</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="evalLastModifiedDate"><span
						data-translate="evaluationApp.evaluation.evalLastModifiedDate">Eval
							Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="evaluationState"><span
						data-translate="evaluationApp.evaluation.evaluationState">Evaluation
							State</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th ng-show="locale.lang == 'fa'"
						jh-sort-by="electronicService.elecServiceTitlefa"><span
						data-translate="evaluationApp.evaluation.electronicService">Electronic
							Service</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th ng-show="locale.lang == 'en'"
						jh-sort-by="electronicService.elecServiceTitleen"><span
						data-translate="evaluationApp.evaluation.electronicService">Electronic
							Service</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="evaluation in vm.evaluations track by evaluation.id">
					<td><a ui-sref="evaluation-detail({id:evaluation.id})">{{evaluation.id}}</a></td>
					<td>{{evaluation.evalPerson}}</td>
					<td ng-bind="locale.toLocaleDate(evaluation.evalStartDate)"></td>
					<td ng-bind="locale.toLocaleDate(evaluation.evalEndDate)"></td>
					<td ng-bind="locale.toLocaleDate(evaluation.evalDeadLineDate)"></td>
					<td ng-bind="locale.toLocaleDate(evaluation.evalLastModifiedDate)"></td>
					<td
						data-translate="{{'evaluationApp.EvaluationState.' + evaluation.evaluationState}}">{{evaluation.evaluationState}}</td>
					<td ng-show="locale.lang == 'fa'"><a
						ui-sref="electronic-service-detail({id:evaluation.electronicService.id})">{{evaluation.electronicService.elecServiceTitlefa}}</a>
					</td>
					<td ng-show="locale.lang == 'en'"><a
						ui-sref="electronic-service-detail({id:evaluation.electronicService.id})">{{evaluation.electronicService.elecServiceTitleen}}</a>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								ui-sref="my-specialized-evaluation.detail({id:evaluation.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-sm-down" data-translate="entity.action.view"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems"
			items-per-page="vm.itemsPerPage" ng-model="vm.page"
			ng-change="vm.transition()"></uib-pagination>
	</div>

</div>
