<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<div class="row">

				<div class="col-md-6">
					<a class="glyphicon glyphicon-print"></a><span>فکس :</span> <span
						style="">88498412</span>
				</div>

				<div class="col-md-6">
					<a class="glyphicon glyphicon-envelope"></a><span>ایمیل :</span>
					info@iran.gov.ir
				</div>
			</div>
		</div>
		<br>
		<hr>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<a class="glyphicon glyphicon-map-marker"></a><span>آدرس :</span>تهران
							-خیابان شریعتی - نرسیده به پل سید خندان - ورودی 22 - ساختمان
							مرکزی
						</div>
						<div class="col-md-6">
							<a class="glyphicon glyphicon-send"></a><span>کد پستی :</span>1631713931
						</div>

						<div class="col-md-12">
							<hr>
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.4816982435855!2d51.44548683969291!3d35.73896344346961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQ0JzIwLjMiTiA1McKwMjYnNTAuMCJF!5e0!3m2!1sen!2sir!4v1457521890552"
								width="100%" height="300" frameborder="0" style="border: 0"
								allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<a class="glyphicon glyphicon-map-marker"></a><span>آدرس :</span>تهران
							- میدان آرژانتین - خیابان بیهقی - نبش خیابان شانزدهم - ساختمان
							شماره 1
						</div>
						<div class="col-md-6">
							<a class="glyphicon glyphicon-send"></a><span>کد پستی :</span>1515674311
						</div>
						<div class="col-md-12">
							<hr>
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619.3194405049906!2d51.41659625800082!3d35.73509877226539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e014cffa3f9d3%3A0xfa76e94773a74f1e!2z2LPYp9iy2YXYp9mGINmB2YbYp9mI2LHbjCDYp9i32YTYp9i52KfYqg!5e0!3m2!1sen!2sir!4v1457522100553"
								width="100%" height="300" frameborder="0" style="border: 0"
								allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


