
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEvaluationMaturityStateLabel" data-translate="evaluationApp.evaluationMaturityState.home.createOrEditLabel">Create or edit a Evaluation Maturity State</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.evaluationMaturityState.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.evaluationMaturityState.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationMaturityState.evalMaturityStateScore" for="field_evalMaturityStateScore">Eval Maturity State Score</label>
            <input type="number" class="form-control" name="evalMaturityStateScore" id="field_evalMaturityStateScore"
                    ng-model="vm.evaluationMaturityState.evalMaturityStateScore"
                    />
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.evaluationMaturityState.evaluation" for="field_evaluation">Evaluation</label>
            <select class="form-control" id="field_evaluation" name="evaluation" ng-model="vm.evaluationMaturityState.evaluation" ng-options="evaluation as evaluation.evalTitle_fa for evaluation in vm.evaluations track by evaluation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.evaluationMaturityState.maturityStage" for="field_maturityStage">Maturity Stage</label>
            <select class="form-control" id="field_maturityStage" name="maturityStage" ng-model="vm.evaluationMaturityState.maturityStage" ng-options="maturityStage as maturityStage.maturityStageTitle_fa for maturityStage in vm.maturitystages track by maturityStage.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
