<div>
    <h2 data-translate="evaluationApp.evaluationMaturityState.home.title">Evaluation Maturity States</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="evaluation-maturity-state.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.evaluationMaturityState.home.createLabel">
                        Create new Evaluation Maturity State
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalMaturityStateScore"><span data-translate="evaluationApp.evaluationMaturityState.evalMaturityStateScore">Eval Maturity State Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evaluation.evalTitle_fa"><span data-translate="evaluationApp.evaluationMaturityState.evaluation">Evaluation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maturityStage.maturityStageTitle_fa"><span data-translate="evaluationApp.evaluationMaturityState.maturityStage">Maturity Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="evaluationMaturityState in vm.evaluationMaturityStates track by evaluationMaturityState.id">
                    <td><a ui-sref="evaluation-maturity-state-detail({id:evaluationMaturityState.id})">{{evaluationMaturityState.id}}</a></td>
                    <td>{{evaluationMaturityState.evalMaturityStateScore}}</td>
                    <td>
                        <a ui-sref="evaluation-detail({id:evaluationMaturityState.evaluation.id})">{{evaluationMaturityState.evaluation.evalTitle_fa}}</a>
                    </td>
                    <td>
                        <a ui-sref="maturity-stage-detail({id:evaluationMaturityState.maturityStage.id})">{{evaluationMaturityState.maturityStage.maturityStageTitle_fa}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="evaluation-maturity-state-detail({id:evaluationMaturityState.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation-maturity-state.edit({id:evaluationMaturityState.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation-maturity-state.delete({id:evaluationMaturityState.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
