
<div>
    <h2><span data-translate="evaluationApp.evaluationMaturityState.detail.title">Evaluation Maturity State</span> {{vm.evaluationMaturityState.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.evaluationMaturityState.evalMaturityStateScore">Eval Maturity State Score</span></dt>
        <dd>
            <span>{{vm.evaluationMaturityState.evalMaturityStateScore}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationMaturityState.evaluation">Evaluation</span></dt>
        <dd>
            <a ui-sref="evaluation-detail({id:vm.evaluationMaturityState.evaluation.id})">{{vm.evaluationMaturityState.evaluation.evalTitle_fa}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationMaturityState.maturityStage">Maturity Stage</span></dt>
        <dd>
            <a ui-sref="maturity-stage-detail({id:vm.evaluationMaturityState.maturityStage.id})">{{vm.evaluationMaturityState.maturityStage.maturityStageTitle_fa}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="evaluation-maturity-state-detail.edit({id:vm.evaluationMaturityState.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
