<style>
hr.style18:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
</style>

<div ng-cloak>
	<div class="row">
		<center>
			<h2 data-translate="evaluationApp.do.specialized.title">Do Specialized</h2>
		<jhi-alert></jhi-alert>
		</center>
		<br>
		<evaluation style="color:black;" eval = "userEval" mode="specialized"></evaluation>

		<center>
			<button type="button" class="btn btn-info"
				data-translate="evaluationApp.do.specialized.button.temporarySave" ng-click="temporarySave()">temporarySave</button>
			<button type="button" class="btn btn-success"
				data-translate="evaluationApp.do.specialized.button.update"
				ng-click="answering()">update</button>
		</center>
	</div>
</div>
