<div ng-cloak>
	<div class="row" style="color:black;">
		<h2 data-translate="evaluationApp.general.title">TreeDepartments</h2>
		<br>{{start}}
		<div class="panel-group">
			<div class="panel panel-success">
				<div data-translate="evaluationApp.general.elecService"
					class="panel-heading">Electronic Service</div>
				<div style="width: 50%" class="panel-body">
					<label data-translate="evaluationApp.general.elecService"></label>
					<angucomplete ng-show="locale.lang == 'fa'" pause="100" selectedobject="electronicSelected"
						autoname="electronic" localdata="electronic"
						searchfields="elecServiceTitlefa" titlefield="elecServiceTitlefa"
						minlength="1" inputclass="form-control form-control-small"
						matchclass="highlight" />
					<angucomplete ng-show="locale.lang == 'en'" pause="100" selectedobject="electronicSelected"
						autoname="electronic" localdata="electronic"
						searchfields="elecServiceTitleen" titlefield="elecServiceTitleen"
						minlength="1" inputclass="form-control form-control-small"
						matchclass="highlight" />
				</div>

			</div>

			<div class="panel panel-success">
				<div data-translate="evaluationApp.general.department"
					class="panel-heading">department</div>
				<div class="panel-body">
					<div>
						<tree nodes='treeNodes' options='options' locale = 'locale.lang'>
					</div>

					<hr>

					<label data-translate="evaluationApp.general.elecService"></label>
					<select ng-show = "locale.lang == 'fa'" style="width: 50%" class="form-control" id="field_parent"
						name="elecServ" ng-model="electronicSelected" 
						ng-options="esd as esd.elecServiceTitlefa for esd in elecServiceDepartment track by esd.id">
						<option value="" ></option>
					</select>
					<select ng-show = "locale.lang == 'en'" style="width: 50%" class="form-control" id="field_parent"
						name="elecServ" ng-model="electronicSelected" 
						ng-options="esd as esd.elecServiceTitleen for esd in elecServiceDepartment track by esd.id">
						<option value="" ></option>
					</select>
				</div>
			</div>
		</div>
		<center>
			<div style="width: 45%">
				<button type="button" ng-click="getEvaluation()"
					class="btn btn-success" style="width: 100% !important;"
					data-translate="evaluationApp.general.button.get">Success</button>
			</div>
		</center>
	</div>