<div ng-cloak>
	<div class="row">
		<h2 data-translate="evaluationApp.tree.department.home.title">TreeDepartments</h2>
		<br>

		<div>
			<tree nodes='treeNodes' options='options' locale = 'locale.lang'>
		</div>

	</div>
</div>
