<div>
    <h2 data-translate="evaluationApp.evaluation.home.title">Evaluations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="evaluation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.evaluation.home.createLabel">
                        Create new Evaluation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalTitlefa"><span data-translate="evaluationApp.evaluation.evalTitlefa">Eval Titlefa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalTitleen"><span data-translate="evaluationApp.evaluation.evalTitleen">Eval Titleen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalPerson"><span data-translate="evaluationApp.evaluation.evalPerson">Eval Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalStartDate"><span data-translate="evaluationApp.evaluation.evalStartDate">Eval Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalEndDate"><span data-translate="evaluationApp.evaluation.evalEndDate">Eval End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalDeadLineDate"><span data-translate="evaluationApp.evaluation.evalDeadLineDate">Eval Dead Line Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalLastModifiedDate"><span data-translate="evaluationApp.evaluation.evalLastModifiedDate">Eval Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalConfirmedDate"><span data-translate="evaluationApp.evaluation.evalConfirmedDate">Eval Confirmed Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalDescriptionfa"><span data-translate="evaluationApp.evaluation.evalDescriptionfa">Eval Descriptionfa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalConfirmer"><span data-translate="evaluationApp.evaluation.evalConfirmer">Eval Confirmer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalScore"><span data-translate="evaluationApp.evaluation.evalScore">Eval Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evaluationState"><span data-translate="evaluationApp.evaluation.evaluationState">Evaluation State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-show = "locale.lang == 'fa'" jh-sort-by="electronicService.elecServiceTitlefa"><span data-translate="evaluationApp.evaluation.electronicService">Electronic Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-show = "locale.lang == 'en'" jh-sort-by="electronicService.elecServiceTitleen"><span data-translate="evaluationApp.evaluation.electronicService">Electronic Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="evaluation in vm.evaluations track by evaluation.id">
                    <td><a ui-sref="evaluation-detail({id:evaluation.id})">{{evaluation.id}}</a></td>
                    <td>{{evaluation.evalTitlefa}}</td>
                    <td>{{evaluation.evalTitleen}}</td>
                    <td>{{evaluation.evalPerson}}</td>
                    <td ng-bind = "locale.toLocaleDate(evaluation.evalStartDate)"></td>
                    <td ng-bind = "locale.toLocaleDate(evaluation.evalEndDate)"></td>
                    <td ng-bind = "locale.toLocaleDate(evaluation.evalDeadLineDate)"></td>
                    <td ng-bind = "locale.toLocaleDate(evaluation.evalLastModifiedDate)"></td>
                    <td ng-bind = "locale.toLocaleDate(evaluation.evalConfirmedDate)"></td>
                    <td>{{evaluation.evalDescriptionfa}}</td>
                    <td>{{evaluation.evalConfirmer}}</td>
                    <td>{{evaluation.evalScore}}</td>
                    <td data-translate="{{'evaluationApp.EvaluationState.' + evaluation.evaluationState}}">{{evaluation.evaluationState}}</td>
                    <td ng-show = "locale.lang == 'fa'">
                        <a ui-sref="electronic-service-detail({id:evaluation.electronicService.id})">{{evaluation.electronicService.elecServiceTitlefa}}</a>
                    </td>
                    <td ng-show = "locale.lang == 'en'">
                        <a ui-sref="electronic-service-detail({id:evaluation.electronicService.id})">{{evaluation.electronicService.elecServiceTitleen}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="evaluation-detail({id:evaluation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation.edit({id:evaluation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation.delete({id:evaluation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
