
<div>
    <h2><span data-translate="evaluationApp.evaluation.detail.title">Evaluation</span> {{vm.evaluation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.evaluation.evalTitlefa">Eval Titlefa</span></dt>
        <dd>
            <span>{{vm.evaluation.evalTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalTitleen">Eval Titleen</span></dt>
        <dd>
            <span>{{vm.evaluation.evalTitleen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalPerson">Eval Person</span></dt>
        <dd>
            <span>{{vm.evaluation.evalPerson}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalStartDate">Eval Start Date</span></dt>
        <dd>
            <span>{{vm.evaluation.evalStartDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalEndDate">Eval End Date</span></dt>
        <dd>
            <span>{{vm.evaluation.evalEndDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalDeadLineDate">Eval Dead Line Date</span></dt>
        <dd>
            <span>{{vm.evaluation.evalDeadLineDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalLastModifiedDate">Eval Last Modified Date</span></dt>
        <dd>
            <span>{{vm.evaluation.evalLastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalConfirmedDate">Eval Confirmed Date</span></dt>
        <dd>
            <span>{{vm.evaluation.evalConfirmedDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalState">Eval State</span></dt>
        <dd>
            <span data-translate="{{'evaluationApp.EvaluationState.' + vm.evaluation.evalState}}">{{vm.evaluation.evalState}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalDescriptionfa">Eval Descriptionfa</span></dt>
        <dd>
            <span>{{vm.evaluation.evalDescriptionfa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalDescriptionen">Eval Descriptionen</span></dt>
        <dd>
            <span>{{vm.evaluation.evalDescriptionen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalConfirmer">Eval Confirmer</span></dt>
        <dd>
            <span>{{vm.evaluation.evalConfirmer}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evalScore">Eval Score</span></dt>
        <dd>
            <span>{{vm.evaluation.evalScore}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.evaluationState">Evaluation State</span></dt>
        <dd>
            <span data-translate="{{'evaluationApp.EvaluationState.' + vm.evaluation.evaluationState}}">{{vm.evaluation.evaluationState}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluation.electronicService">Electronic Service</span></dt>
        <dd>
            <a ui-sref="electronic-service-detail({id:vm.evaluation.electronicService.id})">{{vm.evaluation.electronicService.elecServiceTitle_fa}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="evaluation-detail.edit({id:vm.evaluation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
