
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEvaluationLabel" data-translate="evaluationApp.evaluation.home.createOrEditLabel">Create or edit a Evaluation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.evaluation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.evaluation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalTitlefa" for="field_evalTitlefa">Eval Titlefa</label>
            <input type="text" class="form-control" name="evalTitlefa" id="field_evalTitlefa"
                    ng-model="vm.evaluation.evalTitlefa"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalTitleen" for="field_evalTitleen">Eval Titleen</label>
            <input type="text" class="form-control" name="evalTitleen" id="field_evalTitleen"
                    ng-model="vm.evaluation.evalTitleen"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalPerson" for="field_evalPerson">Eval Person</label>
            <input type="text" class="form-control" name="evalPerson" id="field_evalPerson"
                    ng-model="vm.evaluation.evalPerson"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalStartDate" for="field_evalStartDate">Eval Start Date</label>
                <div class="input-group">
                    <input id="field_evalStartDate" type="text" class="form-control" name="evalStartDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluation.evalStartDate" is-open="vm.datePickerOpenStatus.evalStartDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalEndDate" for="field_evalEndDate">Eval End Date</label>
                <div class="input-group">
                    <input id="field_evalEndDate" type="text" class="form-control" name="evalEndDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluation.evalEndDate" is-open="vm.datePickerOpenStatus.evalEndDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalEndDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalDeadLineDate" for="field_evalDeadLineDate">Eval Dead Line Date</label>
                <div class="input-group">
                    <input id="field_evalDeadLineDate" type="text" class="form-control" name="evalDeadLineDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluation.evalDeadLineDate" is-open="vm.datePickerOpenStatus.evalDeadLineDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalDeadLineDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalLastModifiedDate" for="field_evalLastModifiedDate">Eval Last Modified Date</label>
                <div class="input-group">
                    <input id="field_evalLastModifiedDate" type="text" class="form-control" name="evalLastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluation.evalLastModifiedDate" is-open="vm.datePickerOpenStatus.evalLastModifiedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalLastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalConfirmedDate" for="field_evalConfirmedDate">Eval Confirmed Date</label>
                <div class="input-group">
                    <input id="field_evalConfirmedDate" type="text" class="form-control" name="evalConfirmedDate" datetime-picker="{{dateformat}}" ng-model="vm.evaluation.evalConfirmedDate" is-open="vm.datePickerOpenStatus.evalConfirmedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('evalConfirmedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalState" for="field_evalState">Eval State</label>
            <select class="form-control" name="evalState" ng-model="vm.evaluation.evalState" id="field_evalState">
                <option value="GENERAL" data-translate="evaluationApp.EvaluationState.GENERAL">GENERAL</option>
                <option value="INPROGRESS" data-translate="evaluationApp.EvaluationState.INPROGRESS">INPROGRESS</option>
                <option value="COMPLETE" data-translate="evaluationApp.EvaluationState.COMPLETE">COMPLETE</option>
                <option value="EXPIRED" data-translate="evaluationApp.EvaluationState.EXPIRED">EXPIRED</option>
                <option value="CONFIRMED" data-translate="evaluationApp.EvaluationState.CONFIRMED">CONFIRMED</option>
                <option value="REJECTED" data-translate="evaluationApp.EvaluationState.REJECTED">REJECTED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalDescriptionfa" for="field_evalDescriptionfa">Eval Descriptionfa</label>
            <input type="text" class="form-control" name="evalDescriptionfa" id="field_evalDescriptionfa"
                    ng-model="vm.evaluation.evalDescriptionfa"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalDescriptionen" for="field_evalDescriptionen">Eval Descriptionen</label>
            <input type="text" class="form-control" name="evalDescriptionen" id="field_evalDescriptionen"
                    ng-model="vm.evaluation.evalDescriptionen"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalConfirmer" for="field_evalConfirmer">Eval Confirmer</label>
            <input type="text" class="form-control" name="evalConfirmer" id="field_evalConfirmer"
                    ng-model="vm.evaluation.evalConfirmer"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evalScore" for="field_evalScore">Eval Score</label>
            <input type="number" class="form-control" name="evalScore" id="field_evalScore"
                    ng-model="vm.evaluation.evalScore"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluation.evaluationState" for="field_evaluationState">Evaluation State</label>
            <select class="form-control" name="evaluationState" ng-model="vm.evaluation.evaluationState" id="field_evaluationState">
                <option value="GENERAL" data-translate="evaluationApp.EvaluationState.GENERAL">GENERAL</option>
                <option value="INPROGRESS" data-translate="evaluationApp.EvaluationState.INPROGRESS">INPROGRESS</option>
                <option value="COMPLETE" data-translate="evaluationApp.EvaluationState.COMPLETE">COMPLETE</option>
                <option value="EXPIRED" data-translate="evaluationApp.EvaluationState.EXPIRED">EXPIRED</option>
                <option value="CONFIRMED" data-translate="evaluationApp.EvaluationState.CONFIRMED">CONFIRMED</option>
                <option value="REJECTED" data-translate="evaluationApp.EvaluationState.REJECTED">REJECTED</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.evaluation.electronicService" for="field_electronicService">Electronic Service</label>
            <select class="form-control" id="field_electronicService" name="electronicService" ng-model="vm.evaluation.electronicService" ng-options="electronicService as electronicService.elecServiceTitle_fa for electronicService in vm.electronicservices track by electronicService.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
