<div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 data-translate="register.title">Registration</h1>

			<div class="alert alert-success" ng-show="vm.success"
				data-translate="register.messages.success">
				<strong>Registration saved!</strong> Please check your email for
				confirmation.
			</div>

			<div class="alert alert-danger" ng-show="vm.error"
				data-translate="register.messages.error.fail">
				<strong>Registration failed!</strong> Please try again later.
			</div>

			<div class="alert alert-danger" ng-show="vm.errorUserExists"
				data-translate="register.messages.error.userexists">
				<strong>Login name already registered!</strong> Please choose
				another one.
			</div>

			<div class="alert alert-danger" ng-show="vm.errorEmailExists"
				data-translate="register.messages.error.emailexists">
				<strong>Email is already in use!</strong> Please choose another one.
			</div>
			
			<div class="alert alert-danger" ng-show="vm.errorNationalIdExists"
				data-translate="register.messages.error.NationalIdexists">
				<strong>NationalId is already in use!</strong> Please choose another one.
			</div>

			<div class="alert alert-danger" ng-show="vm.doNotMatch"
				data-translate="global.messages.error.dontmatch">The password
				and its confirmation do not match!</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<form ng-show="!vm.success" name="form" role="form" novalidate
				ng-submit="vm.register()" show-validation>

				<div class="form-group">
					<label class="control-label" for="login"
						data-translate="global.form.username">Username</label> <input
						type="text" class="form-control" id="login" name="login"
						placeholder="{{'global.form.username.placeholder' | translate}}"
						ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50
						ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
					<div ng-show="form.login.$dirty && form.login.$invalid">
						<p class="help-block" ng-show="form.login.$error.required"
							data-translate="register.messages.validate.login.required">
							Your username is required.</p>
						<p class="help-block" ng-show="form.login.$error.minlength"
							data-translate="register.messages.validate.login.minlength">
							Your username is required to be at least 1 character.</p>
						<p class="help-block" ng-show="form.login.$error.maxlength"
							data-translate="register.messages.validate.login.maxlength">
							Your username cannot be longer than 50 characters.</p>
						<p class="help-block" ng-show="form.login.$error.pattern"
							data-translate="register.messages.validate.login.pattern">
							Your username can only contain lower-case letters and digits.</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="nationalID" 
						data-translate="global.form.nationalID">nationalID</label> <input islet-iran-national-id
						type="text" class="form-control" id="nationalID" name="nationalID"
						placeholder="{{'global.form.nationalID.placeholder' | translate}}"
						ng-model="vm.registerAccount.nationalID" ng-minlength=10 ng-maxlength=10 
						required>
					<div ng-show="form.login.$dirty && form.nationalID.$invalid">
						<p class="help-block" ng-show="form.nationalID.$error.required"
							data-translate="register.messages.validate.nationalID.required">
							Your nationalID is required.</p>
						<p class="help-block" ng-show="form.nationalID.$error.minlength"
							data-translate="register.messages.validate.nationalID.minlength">
							Your nationalID is required to be at least 10 character.</p>
						<p class="help-block" ng-show="form.nationalID.$error.maxlength"
							data-translate="register.messages.validate.nationalID.maxlength">
							Your nationalID cannot be longer than 10 characters.</p>
						<p class="help-block" ng-show="form.nationalID.$error.pattern"
							data-translate="register.messages.validate.nationalID.pattern">
							Your nationalID can only contain digits.</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="firstName" 
						data-translate="global.form.firstName">firstName</label><input
						type="text" class="form-control" id="firstName" name="firstName"
						placeholder="{{'global.form.firstName.placeholder' | translate}}"
						ng-model="vm.registerAccount.firstName" ng-minlength=1
						ng-maxlength=50 required>
					<div ng-show="form.login.$dirty && form.firstName.$invalid">
						<p class="help-block" ng-show="form.firstName.$error.required"
							data-translate="register.messages.validate.firstName.required">
							Your firstName is required.</p>
						<p class="help-block" ng-show="form.firstName.$error.minlength"
							data-translate="register.messages.validate.firstName.minlength">
							Your firstName is required to be at least 2 character.</p>
						<p class="help-block" ng-show="form.firstName.$error.maxlength"
							data-translate="register.messages.validate.firstName.maxlength">
							Your firstName cannot be longer than 30 characters.</p>
						<p class="help-block" ng-show="form.firstName.$error.pattern"
							data-translate="register.messages.validate.firstName.pattern">
							Your firstName can only contain digits.</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="lastName" 
						data-translate="global.form.lastName">lastName</label><input
						type="text" class="form-control" id="lastName" name="lastName"
						placeholder="{{'global.form.email.placeholder' | translate}}"
						ng-model="vm.registerAccount.lastName" ng-minlength=1
						ng-maxlength=50 required>
					<div ng-show="form.login.$dirty && form.lastName.$invalid">
						<p class="help-block" ng-show="form.lastName.$error.required"
							data-translate="register.messages.validate.lastName.required">
							Your lastName is required.</p>
						<p class="help-block" ng-show="form.lastName.$error.minlength"
							data-translate="register.messages.validate.lastName.minlength">
							Your lastName is required to be at least 2 character.</p>
						<p class="help-block" ng-show="form.lastName.$error.maxlength"
							data-translate="register.messages.validate.lastName.maxlength">
							Your lastName cannot be longer than 10 characters.</p>
						<p class="help-block" ng-show="form.lastName.$error.pattern"
							data-translate="register.messages.validate.lastName.pattern">
							Your lastName can only contain digits.</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email"
						data-translate="global.form.email">Email</label> <input
						type="email" class="form-control" id="email" name="email"
						placeholder="{{'global.form.email.placeholder' | translate}}"
						ng-model="vm.registerAccount.email" ng-minlength=5
						ng-maxlength=100 required>
					<div ng-show="form.email.$dirty && form.email.$invalid">
						<p class="help-block" ng-show="form.email.$error.required"
							data-translate="global.messages.validate.email.required">
							Your email is required.</p>
						<p class="help-block" ng-show="form.email.$error.email"
							data-translate="global.messages.validate.email.invalid">Your
							email is invalid.</p>
						<p class="help-block" ng-show="form.email.$error.minlength"
							data-translate="global.messages.validate.email.minlength">
							Your email is required to be at least 5 characters.</p>
						<p class="help-block" ng-show="form.email.$error.maxlength"
							data-translate="global.messages.validate.email.maxlength">
							Your email cannot be longer than 100 characters.</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label"
						data-translate="global.form.evalusertype" for="field_evaluationUserType">Evaluator
						User Type</label> <select class="form-control" name="evaluationUserType"
						ng-model="vm.registerAccount.evaluationUserType" id="field_evaluationUserType">
						<option value="GENERAL_EVALUATOR"
							data-translate="global.form.general.evaluator">GENERAL
							EVALUATOR</option>
						<option value="EXPERT_EVALUATOR"
							data-translate="global.form.expert.evaluator">EXPERT
							EVALUATOR</option>
						<option value="OBSERVER"
							data-translate="global.form.observer.evaluator">OBSERVER</option>
						<option value="SPECIALIZED_EVALUATOR"
							data-translate="global.form.specialized.evaluator">SPECIALIZED EVALUATOR</option>

					</select>
				</div>
				<div class="form-group">
					<label class="control-label" for="password"
						data-translate="global.form.newpassword">New password</label> <input
						type="password" class="form-control" id="password" name="password"
						placeholder="{{'global.form.newpassword.placeholder' | translate}}"
						ng-model="vm.registerAccount.password" ng-minlength=4
						ng-maxlength=50 required>
					<div ng-show="form.password.$dirty && form.password.$invalid">
						<p class="help-block" ng-show="form.password.$error.required"
							data-translate="global.messages.validate.newpassword.required">
							Your password is required.</p>
						<p class="help-block" ng-show="form.password.$error.minlength"
							data-translate="global.messages.validate.newpassword.minlength">
							Your password is required to be at least 4 characters.</p>
						<p class="help-block" ng-show="form.password.$error.maxlength"
							data-translate="global.messages.validate.newpassword.maxlength">
							Your password cannot be longer than 50 characters.</p>
					</div>
					<password-strength-bar
						password-to-check="vm.registerAccount.password"></password-strength-bar>
				</div>
				<div class="form-group">
					<label class="control-label" for="confirmPassword"
						data-translate="global.form.confirmpassword">New password
						confirmation</label> <input type="password" class="form-control"
						id="confirmPassword" name="confirmPassword"
						placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
						ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50
						required>
					<div
						ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
						<p class="help-block"
							ng-show="form.confirmPassword.$error.required"
							data-translate="global.messages.validate.confirmpassword.required">
							Your confirmation password is required.</p>
						<p class="help-block"
							ng-show="form.confirmPassword.$error.minlength"
							data-translate="global.messages.validate.confirmpassword.minlength">
							Your confirmation password is required to be at least 4
							characters.</p>
						<p class="help-block"
							ng-show="form.confirmPassword.$error.maxlength"
							data-translate="global.messages.validate.confirmpassword.maxlength">
							Your confirmation password cannot be longer than 50 characters.</p>
					</div>
				</div>
				
				<!--   mehdi-->
				<div class="form-group">
					   <img ng-src="data:image/JPEG;base64,{{vm.captcha.data}}"/>
				</div>
				<div class="form-group">
					    <input type="text" style="color:black;" id="captcha" ng-model="vm.inputcaptcha"  required>
				</div>
				

				<button type="submit" ng-disabled="form.$invalid"
					class="btn btn-primary" data-translate="register.form.button">Register</button>
			</form>
			<p></p>
			<div class="alert alert-warning"
				data-translate="global.messages.info.authenticated"
				translate-compile>
				If you want to <a class="alert-link" href="" ng-click="vm.login()">sign
					in</a>, you can try the default accounts:<br />- Administrator
				(login="admin" and password="admin") <br />- User (login="user" and
				password="user").
			</div>
		</div>
	</div>
</div>
