<nav class="navbar navbar-default" role="navigation">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<center>
				<img class="logo-img img-responsive img-rounded"
					src="content/images/vezarat.png" style="width: 30% !important;">
				<h3 class="myh3" data-translate="global.title">Evaluation</h3>
			</center>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="container">
		<div class="navbar-collapse"  uib-collapse="vm.isNavbarCollapsed"
			ng-switch="vm.isAuthenticated()">
			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active"><a ui-sref="home" style="color: #000000 !important;
	font-size: 18px;
	font-family: iransnsb;"
					ng-click="vm.collapseNavbar()"> <span
						class="glyphicon glyphicon-home"></span> <span class="hidden-sm"
						data-translate="global.menu.home">Home</span>
				</a></li>	
				<li ng-class="{active: vm.$state.includes('specialized')}"
					ng-switch-when="true" uib-dropdown
					has-authority="SPECIALISED_EVALUATOR" class="dropdown pointer"><a
					class="dropdown-toggle" uib-dropdown-toggle href=""
					id="specialized-menu"> <span> <span
							class="user-icon icon-man-18"></span> <span class="hidden-sm"
							data-translate="global.menu.specialized-evaluation.main">specialized
								Evaluation</span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>

						<li ui-sref-active="active"><a
							ui-sref="specialized-evaluation" ng-click="vm.collapseNavbar()">
								<span class="glyphicon glyphicon-pencil"></span>&nbsp; <span
								data-translate="global.menu.specialized-evaluation.specialized-evaluation">specialized
									evaluation</span>
						</a></li>

						<li ui-sref-active="active"><a
							ui-sref="my-specialized-evaluation"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-flash"></span>&nbsp; <span
								data-translate="global.menu.specialized-evaluation.my-specialized-evaluation">specialized
									evaluation</span>
						</a></li>

					</ul></li>


				<li ng-class="{active: vm.$state.includes('expert')}"
					ng-switch-when="true" uib-dropdown has-authority="EXPERT_EVALUATOR"
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="expert-menu"> <span> <span
							class="user-icon icon-man-17"></span> <span class="hidden-sm"
							data-translate="global.menu.expert-evaluation.main">expert
								Evaluation</span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>

						<li ui-sref-active="active"><a ui-sref="do-expert-evaluation"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-flash"></span>&nbsp; <span
								data-translate="global.menu.expert-evaluation.do-expert-evaluation">expert
									evaluation</span>
						</a></li>

						<li ui-sref-active="active"><a ui-sref="my-expert-evaluation"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-folder-close"></span>&nbsp; <span
								data-translate="global.menu.expert-evaluation.my-expert-evaluation">expert
									evaluation</span>
						</a></li>
					</ul></li>


				<li ng-class="{active: vm.$state.includes('admin')}"
					ng-switch-when="true" uib-dropdown has-authority="ADMIN"
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="expert-menu"> <span> <span
							class="glyphicon glyphicon-folder-open"></span> <span
							class="hidden-sm" data-translate="global.menu.report.main">Report
						</span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>

						<li ui-sref-active="active"><a ui-sref="separation-report"
							ng-click="vm.collapseNavbar()"> <span
								class="user-icon icon-businessman-presentation-1"></span>&nbsp;
								<span data-translate="global.menu.report.separation">Separation
									Report</span>
						</a></li>

						<li ui-sref-active="active"><a ui-sref="consolidated-report"
							ng-click="vm.collapseNavbar()"> <span
								class="user-icon icon-businessmen-4"></span>&nbsp; <span
								data-translate="global.menu.report.consolidated">Consolidated
									Report</span>
						</a></li>
						
						<li ui-sref-active="active"><a ui-sref="organization-report"
							ng-click="vm.collapseNavbar()"> <span
								class="user-icon icon-businessmen-4"></span>&nbsp; <span
								data-translate="global.menu.report.organization">Organization
									Report</span>
						</a></li>
						
						<li ui-sref-active="active"><a ui-sref="service-question-report"
							ng-click="vm.collapseNavbar()"> <span
								class="user-icon icon-businessmen-4"></span>&nbsp; <span
								data-translate="global.menu.report.servicequestion">service question
									Report</span>
						</a></li>
						
						<li ui-sref-active="active"><a ui-sref="department-question-report"
							ng-click="vm.collapseNavbar()"> <span
								class="user-icon icon-businessmen-4"></span>&nbsp; <span
								data-translate="global.menu.report.departmentquestion">department question
									Report</span>
						</a></li>
						
					</ul></li>







				<li ng-class="{active: vm.$state.includes('general')}"
					ng-switch-when="true" uib-dropdown
					has-authority="GENERAL_EVALUATOR" class="dropdown pointer"><a
					class="dropdown-toggle" uib-dropdown-toggle href=""
					id="general-menu"> <span> <span
							class="user-icon  icon-boy-8"></span> <span class="hidden-sm"
							data-translate="global.menu.general-evaluation.main">general
								Evaluation</span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>

						<li ui-sref-active="active"><a ui-sref="general-evaluation"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-flash"></span>&nbsp; <span
								data-translate="global.menu.general-evaluation.general-evaluation">general
									evaluation</span>
						</a></li>

						<li ui-sref-active="active"><a
							ui-sref="my-general-evaluation" ng-click="vm.collapseNavbar()">
								<span class="glyphicon glyphicon-pencil"></span>&nbsp; <span
								data-translate="global.menu.general-evaluation.my-general-evaluation">general
									evaluation</span>
						</a></li>

					</ul></li>


				<li ng-class="{active: vm.$state.includes('judge')}"
					ng-switch-when="true" uib-dropdown has-authority="OBSERVER"
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="general-menu"
					ui-sref="judge-evaluation"> <span> <span
							class="user-icon icon-businessman-presentation"></span> <span
							class="hidden-sm"
							data-translate="global.menu.judge-evaluation.main">judge
								Evaluation</span> <b class="caret"></b>
					</span>
				</a></li>




				<!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
				<li ng-class="{active: vm.$state.includes('admin')}"
					has-authority="ADMIN" ng-switch-when="true" uib-dropdown
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="entity-menu"> <span> <span
							class="glyphicon glyphicon-th-list"></span> <span
							class="hidden-sm" data-translate="global.menu.entities.main">
								Entities </span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ui-sref-active="active"><a ui-sref="maturity-stage"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span
								data-translate="global.menu.entities.maturityStage">Maturity
									Stage</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="diamond-category"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; <span
								data-translate="global.menu.entities.diamondCategory">Diamond
									Category</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="un-maturity-model"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span
								data-translate="global.menu.entities.unMaturityModel">Un
									Maturity Model</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="question"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-question-sign"></span>&nbsp; <span
								data-translate="global.menu.entities.question">Question</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="answer"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-comment"></span>&nbsp; <span
								data-translate="global.menu.entities.answer">Answer</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="department"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-king"></span>&nbsp; <span
								data-translate="global.menu.entities.department">Department</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="electronic-service"
							ng-click="vm.collapseNavbar()"> <span
								class="user-icon glyphicon-cloud"></span>&nbsp; <span
								data-translate="global.menu.entities.electronicService">Electronic
									Service</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="system-profile"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-wrench"></span>&nbsp; <span
								data-translate="global.menu.entities.systemProfile">System
									Profile</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="evaluation"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-pencil "></span>&nbsp; <span
								data-translate="global.menu.entities.evaluation">Evaluation</span>
						</a></li>
						<li ui-sref-active="active"><a
							ui-sref="evaluation-maturity-state"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span
								data-translate="global.menu.entities.evaluationMaturityState">Evaluation
									Maturity State</span>
						</a></li>
						<li ui-sref-active="active"><a
							ui-sref="evaluation-diamond-category"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span
								data-translate="global.menu.entities.evaluationDiamondCategory">Evaluation
									Diamond Category</span>
						</a></li>
						<li ui-sref-active="active"><a
							ui-sref="elec-service-maturity-state"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span
								data-translate="global.menu.entities.elecServiceMaturityState">Elec
									Service Maturity State</span>
						</a></li>
						<li ui-sref-active="active"><a
							ui-sref="elec-service-diamond-category"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span
								data-translate="global.menu.entities.elecServiceDiamondCategory">Elec
									Service Diamond Category</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="evaluation-archive"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span
								data-translate="global.menu.entities.evaluationArchive">Evaluation
									Archive</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="question-answer"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-calendar"></span>&nbsp; <span
								data-translate="global.menu.entities.questionAnswer">Question
									Answer</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="tree-departments"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-tree-deciduous"></span>&nbsp; <span
								data-translate="global.menu.entities.treeDepartments">Show
									Tree Departments</span>
						</a></li>
						<!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
					</ul></li>

				<li ng-class="{active: vm.$state.includes('admin')}"
					ng-switch-when="true" has-authority="ADMIN" uib-dropdown
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="admin-menu"> <span> <span
							class="glyphicon glyphicon-tower"></span> <span class="hidden-sm"
							data-translate="global.menu.admin.main">Administration</span> <b
							class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ui-sref-active="active"><a ui-sref="user-management"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-user"></span>&nbsp; <span
								data-translate="global.menu.admin.userManagement">User
									management</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="jhi-metrics"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-dashboard"></span>&nbsp; <span
								data-translate="global.menu.admin.metrics">Metrics</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="jhi-health"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-heart"></span>&nbsp; <span
								data-translate="global.menu.admin.health">Health</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="jhi-configuration"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-list-alt"></span>&nbsp; <span
								data-translate="global.menu.admin.configuration">Configuration</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="audits"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-bell"></span>&nbsp; <span
								data-translate="global.menu.admin.audits">Audits</span>
						</a></li>
						<li ui-sref-active="active"><a ui-sref="logs"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-tasks"></span>&nbsp; <span
								data-translate="global.menu.admin.logs">Logs</span>
						</a></li>
						<li ng-show="vm.swaggerEnabled" ui-sref-active="active"><a
							ui-sref="docs" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-book"></span>&nbsp; <span
								data-translate="global.menu.admin.apidocs">API</span>
						</a></li>
						<!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
						<li ng-hide="vm.inProduction"><a href='/h2-console'
							target="_tab" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-hdd"></span>&nbsp; <span
								data-translate="global.menu.admin.database">Database</span>
						</a></li>
					</ul></li>
				<li ng-class="{active: vm.$state.includes('account')}" uib-dropdown
					class="dropdown pointer"><a class="dropdown-toggle"
					uib-dropdown-toggle href="" id="account-menu"> <span> <span
							class="glyphicon glyphicon-user"></span> <span class="hidden-sm"
							data-translate="global.menu.account.main"> Account </span> <b
							class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="settings" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-wrench"></span>&nbsp; <span
								data-translate="global.menu.account.settings">Settings</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="password" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-lock"></span>&nbsp; <span
								data-translate="global.menu.account.password">Password</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a href=""
							ng-click="vm.logout()" id="logout"> <span
								class="glyphicon glyphicon-log-out"></span>&nbsp; <span
								data-translate="global.menu.account.logout">Sign out</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="false"><a href=""
							ng-click="vm.login()" id="login"> <span
								class="glyphicon glyphicon-log-in"></span>&nbsp; <span
								data-translate="global.menu.account.login">Sign in</span>
						</a></li>
						<li ui-sref-active="active" ng-switch-when="false"><a
							ui-sref="register" ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-plus-sign"></span>&nbsp; <span
								data-translate="global.menu.account.register">Register</span>
						</a></li>
					</ul></li>
				<li ui-sref-active="active" uib-dropdown class="dropdown pointer"
					ng-controller="JhiLanguageController as languageVm"><a
					class="dropdown-toggle" uib-dropdown-toggle href=""
					ng-if="languageVm.languages.length > 1"> <span> <span
							class="glyphicon glyphicon-flag"></span> <span class="hidden-sm"
							data-translate="global.menu.language">Language</span> <b
							class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu" uib-dropdown-menu
						ng-if="languageVm.languages.length > 1">
						<li active-menu="{{language}}"
							ng-repeat="language in languageVm.languages"><a href=""
							ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language
								| findLanguageFromKey}}</a></li>
					</ul></li>


				<li ui-sref-active="active"><a ui-sref="about" style="color: #000000 !important;
	font-size: 18px;
	font-family: iransnsb;"
					ng-click="vm.collapseNavbar()"> <span
						class="glyphicon glyphicon-info-sign"></span> <span
						class="hidden-sm" data-translate="global.menu.about">About</span>
				</a></li>
				
				<li ui-sref-active="active"><a ui-sref="help-file" style="color: #000000 !important;
	font-size: 18px;
	font-family: iransnsb;"
							ng-click="vm.collapseNavbar()"> <span
								class="glyphicon glyphicon-modal-window"></span>&nbsp; <span class="hidden-sm"
								data-translate="global.menu.entities.helpFile">Help File</span>
				</a></li>	
			</ul>

		</div>
	</div>
</nav>
