
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySystemProfileLabel" data-translate="evaluationApp.systemProfile.home.createOrEditLabel">Create or edit a System Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.systemProfile.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.systemProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.systemProfile.systemProfileKey" for="field_systemProfileKey">System Profile Key</label>
            <input type="text" class="form-control" name="systemProfileKey" id="field_systemProfileKey"
                    ng-model="vm.systemProfile.systemProfileKey"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.systemProfile.systemProfileValue" for="field_systemProfileValue">System Profile Value</label>
            <input type="text" class="form-control" name="systemProfileValue" id="field_systemProfileValue"
                    ng-model="vm.systemProfile.systemProfileValue"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
