
<div>
    <h2><span data-translate="evaluationApp.systemProfile.detail.title">System Profile</span> {{vm.systemProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.systemProfile.systemProfileKey">System Profile Key</span></dt>
        <dd>
            <span>{{vm.systemProfile.systemProfileKey}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.systemProfile.systemProfileValue">System Profile Value</span></dt>
        <dd>
            <span>{{vm.systemProfile.systemProfileValue}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="system-profile-detail.edit({id:vm.systemProfile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
