
<div>
    <h2><span data-translate="evaluationApp.questionAnswer.detail.title">Question Answer</span> {{vm.questionAnswer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.questionAnswer.question">Question</span></dt>
        <dd>
            <a ui-sref="question-detail({id:vm.questionAnswer.question.id})">{{vm.questionAnswer.question.questionTitle_fa}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.questionAnswer.answer">Answer</span></dt>
        <dd>
            <a ui-sref="answer-detail({id:vm.questionAnswer.answer.id})">{{vm.questionAnswer.answer.answerTitle_fa}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.questionAnswer.evaluation">Evaluation</span></dt>
        <dd>
            <a ui-sref="evaluation-detail({id:vm.questionAnswer.evaluation.id})">{{vm.questionAnswer.evaluation.id}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.questionAnswer.evaluationArchive">Evaluation Archive</span></dt>
        <dd>
            <a ui-sref="evaluation-archive-detail({id:vm.questionAnswer.evaluationArchive.id})">{{vm.questionAnswer.evaluationArchive.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="question-answer-detail.edit({id:vm.questionAnswer.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
