
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionAnswerLabel" data-translate="evaluationApp.questionAnswer.home.createOrEditLabel">Create or edit a Question Answer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.questionAnswer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.questionAnswer.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.questionAnswer.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" ng-model="vm.questionAnswer.question" ng-options="question as question.questionTitle_fa for question in vm.questions track by question.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.questionAnswer.answer" for="field_answer">Answer</label>
            <select class="form-control" id="field_answer" name="answer" ng-model="vm.questionAnswer.answer" ng-options="answer as answer.answerTitle_fa for answer in vm.answers track by answer.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.questionAnswer.evaluation" for="field_evaluation">Evaluation</label>
            <select class="form-control" id="field_evaluation" name="evaluation" ng-model="vm.questionAnswer.evaluation" ng-options="evaluation as evaluation.id for evaluation in vm.evaluations track by evaluation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.questionAnswer.evaluationArchive" for="field_evaluationArchive">Evaluation Archive</label>
            <select class="form-control" id="field_evaluationArchive" name="evaluationArchive" ng-model="vm.questionAnswer.evaluationArchive" ng-options="evaluationArchive as evaluationArchive.id for evaluationArchive in vm.evaluationarchives track by evaluationArchive.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
