<div>
    <h2 data-translate="evaluationApp.questionAnswer.home.title">Question Answers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="question-answer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.questionAnswer.home.createLabel">
                        Create new Question Answer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="question.questionTitle_fa"><span data-translate="evaluationApp.questionAnswer.question">Question</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="answer.answerTitle_fa"><span data-translate="evaluationApp.questionAnswer.answer">Answer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evaluation.id"><span data-translate="evaluationApp.questionAnswer.evaluation">Evaluation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evaluationArchive.id"><span data-translate="evaluationApp.questionAnswer.evaluationArchive">Evaluation Archive</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="questionAnswer in vm.questionAnswers track by questionAnswer.id">
                    <td><a ui-sref="question-answer-detail({id:questionAnswer.id})">{{questionAnswer.id}}</a></td>
                    <td>
                        <a ui-sref="question-detail({id:questionAnswer.question.id})">{{questionAnswer.question.questionTitle_fa}}</a>
                    </td>
                    <td>
                        <a ui-sref="answer-detail({id:questionAnswer.answer.id})">{{questionAnswer.answer.answerTitle_fa}}</a>
                    </td>
                    <td>
                        <a ui-sref="evaluation-detail({id:questionAnswer.evaluation.id})">{{questionAnswer.evaluation.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="evaluation-archive-detail({id:questionAnswer.evaluationArchive.id})">{{questionAnswer.evaluationArchive.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="question-answer-detail({id:questionAnswer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="question-answer.edit({id:questionAnswer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="question-answer.delete({id:questionAnswer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
