
<div>
    <h2><span data-translate="evaluationApp.evaluationDiamondCategory.detail.title">Evaluation Diamond Category</span> {{vm.evaluationDiamondCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.evaluationDiamondCategory.evalDiamondCategoryScore">Eval Diamond Category Score</span></dt>
        <dd>
            <span>{{vm.evaluationDiamondCategory.evalDiamondCategoryScore}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationDiamondCategory.evaluation">Evaluation</span></dt>
        <dd>
            <a ui-sref="evaluation-detail({id:vm.evaluationDiamondCategory.evaluation.id})">{{vm.evaluationDiamondCategory.evaluation.evalTitle_fa}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.evaluationDiamondCategory.diamondCategory">Diamond Category</span></dt>
        <dd>
            <a ui-sref="diamond-category-detail({id:vm.evaluationDiamondCategory.diamondCategory.id})">{{vm.evaluationDiamondCategory.diamondCategory.diamondCategoryTitle_fa}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="evaluation-diamond-category-detail.edit({id:vm.evaluationDiamondCategory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
