<div>
    <h2 data-translate="evaluationApp.evaluationDiamondCategory.home.title">Evaluation Diamond Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="evaluation-diamond-category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="evaluationApp.evaluationDiamondCategory.home.createLabel">
                        Create new Evaluation Diamond Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evalDiamondCategoryScore"><span data-translate="evaluationApp.evaluationDiamondCategory.evalDiamondCategoryScore">Eval Diamond Category Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="evaluation.evalTitle_fa"><span data-translate="evaluationApp.evaluationDiamondCategory.evaluation">Evaluation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diamondCategory.diamondCategoryTitle_fa"><span data-translate="evaluationApp.evaluationDiamondCategory.diamondCategory">Diamond Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="evaluationDiamondCategory in vm.evaluationDiamondCategories track by evaluationDiamondCategory.id">
                    <td><a ui-sref="evaluation-diamond-category-detail({id:evaluationDiamondCategory.id})">{{evaluationDiamondCategory.id}}</a></td>
                    <td>{{evaluationDiamondCategory.evalDiamondCategoryScore}}</td>
                    <td>
                        <a ui-sref="evaluation-detail({id:evaluationDiamondCategory.evaluation.id})">{{evaluationDiamondCategory.evaluation.evalTitle_fa}}</a>
                    </td>
                    <td>
                        <a ui-sref="diamond-category-detail({id:evaluationDiamondCategory.diamondCategory.id})">{{evaluationDiamondCategory.diamondCategory.diamondCategoryTitle_fa}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="evaluation-diamond-category-detail({id:evaluationDiamondCategory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation-diamond-category.edit({id:evaluationDiamondCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evaluation-diamond-category.delete({id:evaluationDiamondCategory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
