
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEvaluationDiamondCategoryLabel" data-translate="evaluationApp.evaluationDiamondCategory.home.createOrEditLabel">Create or edit a Evaluation Diamond Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.evaluationDiamondCategory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.evaluationDiamondCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.evaluationDiamondCategory.evalDiamondCategoryScore" for="field_evalDiamondCategoryScore">Eval Diamond Category Score</label>
            <input type="number" class="form-control" name="evalDiamondCategoryScore" id="field_evalDiamondCategoryScore"
                    ng-model="vm.evaluationDiamondCategory.evalDiamondCategoryScore"
                    />
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.evaluationDiamondCategory.evaluation" for="field_evaluation">Evaluation</label>
            <select class="form-control" id="field_evaluation" name="evaluation" ng-model="vm.evaluationDiamondCategory.evaluation" ng-options="evaluation as evaluation.evalTitle_fa for evaluation in vm.evaluations track by evaluation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.evaluationDiamondCategory.diamondCategory" for="field_diamondCategory">Diamond Category</label>
            <select class="form-control" id="field_diamondCategory" name="diamondCategory" ng-model="vm.evaluationDiamondCategory.diamondCategory" ng-options="diamondCategory as diamondCategory.diamondCategoryTitle_fa for diamondCategory in vm.diamondcategories track by diamondCategory.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
