<divng-cloak>
<div class="row" style="color: #ffffff;">
	<div class="col-md-12">
		<img class=" img-responsive img-rounded" src="content/images/eg1.jpg"
			style="width: 100% !important;">
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-4">
		<!-- <span class="hipster img-responsive img-rounded"></span> -->
		<a ui-sref="about"> <img class=" img-responsive img-rounded"
			src="content/images/logoeval.jpg" />
		</a>
		<hr>
		<a href="https://iran.gov.ir/"> <img
			class=" img-responsive img-rounded" src="content/images/gov.jpg"
			style="width: 100% !important;" />
		</a>
	</div>

	<div class="col-md-8">
		<h1 data-translate="home.title"></h1>

		<p class="lead" data-translate="home.subtitle"></p>

		<div
			style="border: groove; border-top: 0px; width: 80%; margin-bottom: 10px; margin-top: 10px; border-left: 0px; border-right: 0px"></div>
		<ul>
			<h3 data-translate="home.goal"></h3>
			<li><h4 data-translate="home.one"></h4></li>
			<li><h4 data-translate="home.two"></h4></li>
			<li><h4 data-translate="home.three"></h4></li>
		</ul>
		<hr>

		<div ng-if="!vm.isAuthenticated()" uib-carousel active="active"
			interval="myInterval" no-wrap="false">
			<div uib-slide ng-repeat="slide in slides track by slide.id"
				index="slide.id">
				<img ng-src="{{slide.image}}" style="margin: auto; opacity: 50%;">
				<div class="carousel-caption" >
					<p ng-class="slide.id == 3 ? 'judgeSlider' : 'allSlider'"
						data-translate="{{slide.text}}"></p>
						
				</div>
			</div>
		</div>

		<ul ng-if="vm.isAuthenticated()">
			<h3 data-translate="home.usermanual"></h3>
			<!--  <hr>-->
			<h4 has-authority="ADMIN">
				<!-- <div data-translate="home.adminTask.title" class="lead"></div>-->
				<ul>
					<li><h4 data-translate="home.adminTask.task1"></h4></li>
					<li><h4 data-translate="home.adminTask.task2"></h4></li>
					<li><h4 data-translate="home.adminTask.task3"></h4></li>
					<li><h4 data-translate="home.adminTask.task4"></h4></li>
				</ul>
			</h4>
			<h4 has-authority="GENERAL_EVALUATOR">
				<!--<div data-translate="home.generalTask.title"></div>-->
				<ul>
					<li><h4 data-translate="home.generalTask.task1"></h4></li>
					<li><h4 data-translate="home.generalTask.task2"></h4></li>
					<li><h4 data-translate="home.generalTask.task3"></h4></li>
				</ul>
			</h4>
			<h4 has-authority="EXPERT_EVALUATOR">
				<!--<div data-translate="home.expertTask.title"></div>-->
				<ul>
					<li><h4 data-translate="home.expertTask.task1"></h4></li>
					<li><h4 data-translate="home.expertTask.task2"></h4></li>
					<li><h4 data-translate="home.expertTask.task3"></h4></li>
				</ul>
			</h4>
			<h4 has-authority="OBSERVER">
				<!--<div data-translate="home.observerTask.title"></div>-->
				<ul>
					<li><h4 data-translate="home.observerTask.task1"></h4></li>
				</ul>
			</h4>
			<h4 has-authority="SPECIALISED_EVALUATOR">
				<!--  <div data-translate="home.specializedTask.title"></div>-->
				<ul>
					<li><h4 data-translate="home.specializedTask.task1"></h4></li>
					<li><h4 data-translate="home.specializedTask.task2"></h4></li>
				</ul>
			</h4>
		</ul>
	</div>
</div>


<div ng-switch="vm.isAuthenticated()">
	<hr>
	<div class="alert alert-success" ng-switch-when="true"
		data-translate="home.logged.message"
		translate-values="{username: '{{vm.account.login}}'}">You are
		logged in as user "{{vm.account.login}}".</div>



	<div class="alert alert-warning" ng-switch-when="false"
		data-translate="global.messages.info.authenticated" translate-compile>
		If you want to <a class="alert-link" href="" ng-click="vm.login()">sign
			in</a>, you can try the default accounts:<br />- Administrator
		(login="admin" and password="admin") <br />- User (login="user" and
		password="user").
	</div>
	<div class="alert alert-warning" ng-switch-when="false"
		data-translate="global.messages.info.register" translate-compile>
		You don't have an account yet? <a class="alert-link"
			ui-sref="register">Register a new account</a>
	</div>

</div>


<footer>
	<div class="col-md-4 col-sm-6">
		<img src="content/images/qrcode.png" height="220" width="196"
			class="img-responsive" alt="دولت-هوشمند" />
	</div>
	<div class="col-md-4 col-sm-6">
		<dl>
			<dd>لینک های مرتبط</dd>
			<dt>
				<a style="color: #a2a6fc;" target="_blank" href="http://leader.ir/">پایگاه
					اطلاع رسانی دفتر مقام معظم رهبری</a>
			</dt>
			<dt>
				<a style="color: #a2a6fc;" target="_blank"
					href="http://president.ir/">پایگاه اطلاع رسانی ریاست جمهوری</a>
			</dt>
			<dt>
				<a style="color: #a2a6fc;" target="_blank"
					href="http://www.mporg.ir/">سازمان برنامه و بودجه کشور</a>
			</dt>
			<dt>
				<a style="color: #a2a6fc;" target="_blank"
					href="http://www.aro.gov.ir">سازمان اداری و استخدامی کشور</a>
			</dt>
		</dl>
	</div>
	<div class="clearfix visible-sm mrgb30"></div>
	<div class="col-md-4 col-sm-6">
		<dl>
			<dd>لینک های مرتبط</dd>
			<dt>
				<a style="color: #a2a6fc;" target="_blank"
					href="https://www.ict.gov.ir/">وزارت ارتباطات و فناوری اطلاعات</a>
			</dt>
			<dt>
				<a style="color: #a2a6fc;" target="_blank"
					href="http://www.majazi.ir/">شورای عالی فضای مجازی</a>
			</dt>
			<dt>
				<a style="color: #a2a6fc;" target="_blank"
					href="http://egovernment.ir/">شورای اجرایی فناوری اطلاعات ایران</a>
			</dt>
			<dt>
				<a style="color: #a2a6fc;" target="_blank" href="http://itc.ir/">سازمان
					فناوری اطلاعات ایران</a>
			</dt>
			</dt>
		</dl>
	</div>	
	<div class="clearfix"></div>
</footer>

</div>