html, body {
	max-width: 100% !important;
	overflow-x: hidden !important;
}

.flag {
	right: -1em;
	moz-box-shadow: 0 0 10px #888;
	moz-transform: rotate(45deg);
	ms-transform: rotate(45deg);
	o-transform: rotate(45deg);
	overflow: hidden;
	position: absolute;
	transform: rotate(45deg);
	webkit-box-shadow: 0 0 10px #888;
	webkit-transform: rotate(45deg);
	white-space: nowrap;
	width: 15em;
	z-index: 9999;
	pointer-events: none;
}

.flag a {
	display: block;
	font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 1px 0;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 5px #444;
	pointer-events: none;
}

.top {
	right: -3.5em !important;
	top: 40px;
}

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; 
    margin-right: 10px;
    margin-left: 10px;}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

body {
	/*background:#e73a36http://payesh.iran.gov.ir#e1b541;#4a4746;#39311e; #aea485;#7c7c7c;#fafafa;#595959*,vaziri,"Tahoma","Helvetica Neue", Helvetica, Arial, sans-serif*/
	font-family: iransnsr, iransnsb;
	color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
	background-color: #a00;
	box-shadow: 0 0 10px #888;
	left: -3.5em;
	moz-box-shadow: 0 0 10px #888;
	moz-transform: rotate(-45deg);
	ms-transform: rotate(-45deg);
	o-transform: rotate(-45deg);
	overflow: hidden;
	position: absolute;
	top: 40px;
	transform: rotate(-45deg);
	webkit-box-shadow: 0 0 10px #888;
	webkit-transform: rotate(-45deg);
	white-space: nowrap;
	width: 15em;
	z-index: 9999;
	pointer-events: none;
}

.ribbon a {
	border: 1px solid #faa;
	color: #fff;
	display: block;
	font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 1px 0;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 5px #444;
	pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
	font-size: 10px;
	color: #444;
}

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
	color: #444;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
	padding: 5px 15px;
}

.logo .logo-img {
	height: 45px;
	display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
	margin: 50px auto 0 auto;
	width: 300px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	background-color: #eee;
	border-radius: 6px;
	padding: 60px;
}

.hero-unit h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
}

.hipster {
	display: inline-block;
	width: 300px;
	height: 300px;
	background: url("../images/eval_logo.png") no-repeat center top;
	background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and (
		min--moz-device-pixel-ratio: 2) , only screen and (
		-o-min-device-pixel-ratio: 2/1) , only screen and (
		min-device-pixel-ratio: 2) , only screen and ( min-resolution: 192dpi)
		, only screen and ( min-resolution: 2dppx) {
	.hipster {
		background: url("../images/eval_logo.png") no-repeat center top;
		background-size: contain;
	}
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
	color: white;
	background-color: red;
}

.pad {
	padding: 10px;
}

.break {
	white-space: normal;
	word-break: break-all;
}

.voffset {
	margin-top: 2px;
}

.voffset1 {
	margin-top: 5px;
}

.voffset2 {
	margin-top: 10px;
}

.voffset3 {
	margin-top: 15px;
}

.voffset4 {
	margin-top: 30px;
}

.voffset5 {
	margin-top: 40px;
}

.voffset6 {
	margin-top: 60px;
}

.voffset7 {
	margin-top: 80px;
}

.voffset8 {
	margin-top: 100px;
}

.voffset9 {
	margin-top: 150px;
}

.readonly {
	background-color: #eee;
	opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
	color: #1c0cf5;
	/*color: #a2a6fc;*/
}

a:hover, .hand, [jh-sort-by] {
	cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
	top: inherit;
	display: block;
	font-size: 10px;
	max-width: 1024px;
}

#healthCheck .popover {
	margin-left: -50px;
}

.health-details {
	min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
	display: inline;
	list-style: none;
	margin: 0;
	margin-left: 15px;
	padding: 0;
	vertical-align: 2px;
}

.point:last {
	margin: 0 !important;
}

.point {
	background: #DDD;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
	margin-right: 1px;
	width: 20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
	text-overflow: ellipsis;
}

.alert pre {
	background: none;
	border: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

.alert .popover pre {
	font-size: 10px;
}

.alerts .toast {
	position: fixed;
	width: 100%;
}

.alerts .toast.left {
	left: 5px;
}

.alerts .toast.right {
	right: 5px;
}

.alerts .toast.top {
	top: 55px;
}

.alerts .toast.bottom {
	bottom: 55px;
}

@media screen and (min-width: 480px) {
	.alerts .toast {
		width: 50%;
	}
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
	width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.jh-table>tbody>tr>td {
	/* Align text in td vertically (top aligned by Bootstrap) */
	vertical-align: middle;
}

.jh-table>thead>tr>th>.glyphicon-sort, .jh-table>thead>tr>th>.glyphicon-sort-by-attributes,
	.jh-table>thead>tr>th>.glyphicon-sort-by-attributes-alt {
	/* less visible sorting icons */
	opacity: 0.5;
}

.jh-table>thead>tr>th>.glyphicon-sort:hover, .jh-table>thead>tr>th>.glyphicon-sort-by-attributes:hover,
	.jh-table>thead>tr>th>.glyphicon-sort-by-attributes-alt:hover {
	/* full visible sorting icons and pointer when mouse is over them */
	opacity: 1;
	cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details>dd {
	margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
	.dl-horizontal.jh-entity-details>dt {
		margin-bottom: 15px;
	}
	.dl-horizontal.jh-entity-details>dd {
		border-bottom: 1px solid #eee;
		padding-left: 180px;
		margin-left: 0;
	}
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.datetime-picker-dropdown>li.date-picker-menu div>table .btn-default,
	.uib-datepicker-popup>li>div.uib-datepicker>table .btn-default {
	border: 0;
}

.datetime-picker-dropdown>li.date-picker-menu div>table:focus,
	.uib-datepicker-popup>li>div.uib-datepicker>table:focus {
	outline: none;
}

/* ==========================================================================
Right-to-Left support
========================================================================== */
html[dir=rtl] .col-xs-1, html[dir=rtl] .col-xs-2, html[dir=rtl] .col-xs-3,
	html[dir=rtl] .col-xs-4, html[dir=rtl] .col-xs-5, html[dir=rtl] .col-xs-6,
	html[dir=rtl] .col-xs-7, html[dir=rtl] .col-xs-8, html[dir=rtl] .col-xs-9,
	html[dir=rtl] .col-xs-10, html[dir=rtl] .col-xs-11, html[dir=rtl] .col-xs-12,
	html[dir=rtl] .col-sm-1, html[dir=rtl] .col-sm-2, html[dir=rtl] .col-sm-3,
	html[dir=rtl] .col-sm-4, html[dir=rtl] .col-sm-5, html[dir=rtl] .col-sm-6,
	html[dir=rtl] .col-sm-7, html[dir=rtl] .col-sm-8, html[dir=rtl] .col-sm-9,
	html[dir=rtl] .col-sm-10, html[dir=rtl] .col-sm-11, html[dir=rtl] .col-sm-12,
	html[dir=rtl] .col-md-1, html[dir=rtl] .col-md-2, html[dir=rtl] .col-md-3,
	html[dir=rtl] .col-md-4, html[dir=rtl] .col-md-5, html[dir=rtl] .col-md-6,
	html[dir=rtl] .col-md-7, html[dir=rtl] .col-md-8, html[dir=rtl] .col-md-9,
	html[dir=rtl] .col-md-10, html[dir=rtl] .col-md-11, html[dir=rtl] .col-md-12,
	html[dir=rtl] .col-lg-1, html[dir=rtl] .col-lg-2, html[dir=rtl] .col-lg-3,
	html[dir=rtl] .col-lg-4, html[dir=rtl] .col-lg-5, html[dir=rtl] .col-lg-6,
	html[dir=rtl] .col-lg-7, html[dir=rtl] .col-lg-8, html[dir=rtl] .col-lg-9,
	html[dir=rtl] .col-lg-10, html[dir=rtl] .col-lg-11, html[dir=rtl] .col-lg-12
	{
	float: right;
}

html[dir=rtl] .navbar-nav>li {
	float: right;
}

html[dir=rtl] .dl-horizontal dt {
	float: right;
}

html[dir=rtl] th {
	text-align: right;
}

html[dir=rtl] .dropdown-menu {
	text-align: right;
}

html[dir=rtl] .modal-footer {
	text-align: left;
}

@font-face {
	font-family: 'iransnsb';
	font-style: 'normal';
	src: url(../fonts/iransansb.woff) format('woff');
	font-weight: bold;
	font-size: 20px;
}

@font-face {
	font-family: 'iransnsr';
	font-style: 'normal';
	src: url(../fonts/iransansr.woff) format('woff');
	font-size: 20px;
}

@font-face {
	font-family: 'BNAZANIN';
	font-style: 'normal';
	src: url(../fonts/BNAZANIN.TTF) format('truetype');
}

.myh3 {
	color:inherit !important;
}

h1 {
	font-family: BNAZANIN;
	font-weight: bold;
	color: #fff;
}

.dropdown-menu {
	/*background-color: #008080;#ffb00e*/
	color: #e2e2e2;
	font-family: iransnsb;
	font-weight: bold;
	/*background-color:#0088e1;
	#f2560b
	#e45e03
	*/
}

.navbar-collapse {
	background-color: #fbc520;
	color: #ffff !important;
	font-family: iransnsb;
	font-weight: bold;
}

.dropdown-toggle {
	color: #000000 !important;
	font-size: 18px;
	font-family: iransnsb;
}

.navbar {
	background: #aea485;
}

.table-responsive {
	color: #000;
	font-family: iransnsb;
	font-size: 17px;
	/*background-color: #790079;*/
	background-color: #aea485;
}

.btn {
	font-size: 16px;
	font-family: iransnsr;
}

label {
	font-size: 18px;
	font-family: iransnsb;
}

dd {
	margin-right: 3%;
	font-family: iransnsb;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4%;
	margin-top: 5%;
}

dt {
	font-size: 16px;
	margin-bottom: 1.5%;
}

h1 {
	color: #fbc520;
	font-weight: normal;
	font-family: iransnsb !important;
}

h3 {
	color: #aea485;
	font-weight: normal;
	font-family: iransnsb !important;
}

h4 {
	font-family: iransnsb !important;
	font-weight: normal;
}

h2 {
	font-family: iransnsb !important;
	font-weight: normal;
	color: #fbc520;
}

.judgeSlider {
	color: black;
	font-family: iransnsb;
	font-size: 18px;
	margin-left: 40%;
}

.allSlider {
	color: black;
	font-family: iransnsb;
	font-size: 18px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label
{
	color:#e73a36;
}

.help-block{
	color:#f5f5f5;
}

.question {
	color:rgb(85,85,85) !important;
}

/* jhipster-needle-css-add-main JHipster will add new css style */