
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionLabel" data-translate="evaluationApp.question.home.createOrEditLabel">Create or edit a Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.question.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.question.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.question.questionTitlefa" for="field_questionTitlefa">Question Titlefa</label>
            <input type="text" class="form-control" name="questionTitlefa" id="field_questionTitlefa"
                    ng-model="vm.question.questionTitlefa"
                    required/>
            <div ng-show="editForm.questionTitlefa.$invalid">
                <p class="help-block"
                    ng-show="editForm.questionTitlefa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.question.questionTitleen" for="field_questionTitleen">Question Titleen</label>
            <input type="text" class="form-control" name="questionTitleen" id="field_questionTitleen"
                    ng-model="vm.question.questionTitleen"
                    required/>
            <div ng-show="editForm.questionTitleen.$invalid">
                <p class="help-block"
                    ng-show="editForm.questionTitleen.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.question.questionDescriptionfa" for="field_questionDescriptionfa">Question Descriptionfa</label>
            <input type="text" class="form-control" name="questionDescriptionfa" id="field_questionDescriptionfa"
                    ng-model="vm.question.questionDescriptionfa"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.question.questionDescriptionen" for="field_questionDescriptionen">Question Descriptionen</label>
            <input type="text" class="form-control" name="questionDescriptionen" id="field_questionDescriptionen"
                    ng-model="vm.question.questionDescriptionen"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.question.questionWeight" for="field_questionWeight">Question Weight</label>
            <input type="number" class="form-control" name="questionWeight" id="field_questionWeight"
                    ng-model="vm.question.questionWeight"
                    required/>
            <div ng-show="editForm.questionWeight.$invalid">
                <p class="help-block"
                    ng-show="editForm.questionWeight.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.questionWeight.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.question.questionPercentage" for="field_questionPercentage">Question Percentage</label>
            <input type="number" class="form-control" name="questionPercentage" id="field_questionPercentage"
                    ng-model="vm.question.questionPercentage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="evaluationApp.question.questionStatus" for="field_questionStatus">Question Status</label>
            <select class="form-control" name="questionStatus" ng-model="vm.question.questionStatus" id="field_questionStatus" required>
                <option value="ENABLE" data-translate="evaluationApp.QuestionStatus.ENABLE">ENABLE</option>
                <option value="DISABLE" data-translate="evaluationApp.QuestionStatus.DISABLE">DISABLE</option>
            </select>
            <div ng-show="editForm.questionStatus.$invalid">
                <p class="help-block"
                    ng-show="editForm.questionStatus.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="evaluationApp.question.maturityStage" for="field_maturityStage">Maturity Stage</label>
            <select ng-show = "locale.lang == 'fa'" class="form-control" id="field_maturityStage" name="maturityStage" ng-model="vm.question.maturityStage" ng-options="maturityStage as maturityStage.maturityStageTitlefa for maturityStage in vm.maturitystages track by maturityStage.id">
                <option value=""></option>
            </select>
            <select ng-show = "locale.lang == 'en'" class="form-control" id="field_maturityStage" name="maturityStage" ng-model="vm.question.maturityStage" ng-options="maturityStage as maturityStage.maturityStageTitleen for maturityStage in vm.maturitystages track by maturityStage.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.question.unMaturityModel" for="field_unMaturityModel">Un Maturity Model</label>
            <select ng-show = "locale.lang == 'fa'" class="form-control" id="field_unMaturityModel" name="unMaturityModel" ng-model="vm.question.unMaturityModel" ng-options="unMaturityModel as unMaturityModel.unMaturityTitlefa for unMaturityModel in vm.unmaturitymodels track by unMaturityModel.id">
                <option value=""></option>
            </select>
            <select ng-show = "locale.lang == 'en'" class="form-control" id="field_unMaturityModel" name="unMaturityModel" ng-model="vm.question.unMaturityModel" ng-options="unMaturityModel as unMaturityModel.unMaturityTitleen for unMaturityModel in vm.unmaturitymodels track by unMaturityModel.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="evaluationApp.question.diamondCategory" for="field_diamondCategory">Diamond Category</label>
            <select ng-show = "locale.lang == 'fa'" class="form-control" id="field_diamondCategory" multiple name="diamondCategory" ng-model="vm.question.diamondCategories" ng-options="diamondCategory as diamondCategory.diamondCategoryTitlefa for diamondCategory in vm.diamondcategories track by diamondCategory.id"></select>
            <select ng-show = "locale.lang == 'en'" class="form-control" id="field_diamondCategory" multiple name="diamondCategory" ng-model="vm.question.diamondCategories" ng-options="diamondCategory as diamondCategory.diamondCategoryTitleen for diamondCategory in vm.diamondcategories track by diamondCategory.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
