
<div>
    <h2><span data-translate="evaluationApp.question.detail.title">Question</span> {{vm.question.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="evaluationApp.question.questionTitlefa">Question Titlefa</span></dt>
        <dd>
            <span>{{vm.question.questionTitlefa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.question.questionTitleen">Question Titleen</span></dt>
        <dd>
            <span>{{vm.question.questionTitleen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.question.questionDescriptionfa">Question Descriptionfa</span></dt>
        <dd>
            <span>{{vm.question.questionDescriptionfa}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.question.questionDescriptionen">Question Descriptionen</span></dt>
        <dd>
            <span>{{vm.question.questionDescriptionen}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.question.questionWeight">Question Weight</span></dt>
        <dd>
            <span>{{vm.question.questionWeight}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.question.questionPercentage">Question Percentage</span></dt>
        <dd>
            <span>{{vm.question.questionPercentage}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.question.questionStatus">Question Status</span></dt>
        <dd>
            <span data-translate="{{'evaluationApp.QuestionStatus.' + vm.question.questionStatus}}">{{vm.question.questionStatus}}</span>
        </dd>
        <dt><span data-translate="evaluationApp.question.maturityStage">Maturity Stage</span></dt>
        <dd ng-show = "locale.lang == 'fa'">
            <a ui-sref="maturity-stage-detail({id:vm.question.maturityStage.id})">{{vm.question.maturityStage.maturityStageTitlefa}}</a>
        </dd>
        <dd ng-show = "locale.lang == 'en'">
            <a ui-sref="maturity-stage-detail({id:vm.question.maturityStage.id})">{{vm.question.maturityStage.maturityStageTitleen}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.question.unMaturityModel">Un Maturity Model</span></dt>
        <dd ng-show = "locale.lang == 'fa'">
            <a ui-sref="un-maturity-model-detail({id:vm.question.unMaturityModel.id})">{{vm.question.unMaturityModel.unMaturityTitlefa}}</a>
        </dd>
        <dd ng-show = "locale.lang == 'en'">
            <a ui-sref="un-maturity-model-detail({id:vm.question.unMaturityModel.id})">{{vm.question.unMaturityModel.unMaturityTitleen}}</a>
        </dd>
        <dt><span data-translate="evaluationApp.question.diamondCategory">Diamond Category</span></dt>
        <dd ng-show = "locale.lang == 'fa'">
            <span ng-repeat="diamondCategory in vm.question.diamondCategories">
                <a ui-sref="diamond-category-detail({id: diamondCategory.id})">{{diamondCategory.diamondCategoryTitlefa}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dd ng-show = "locale.lang == 'en'">
            <span ng-repeat="diamondCategory in vm.question.diamondCategories">
                <a ui-sref="diamond-category-detail({id: diamondCategory.id})">{{diamondCategory.diamondCategoryTitlefa}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="question-detail.edit({id:vm.question.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
