<div>
	<h2 data-translate="evaluationApp.question.home.title">Questions</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="question.new">
					<span class="glyphicon glyphicon-plus"></span> <span
						data-translate="evaluationApp.question.home.createLabel">
						Create new Question </span>
				</button>
			</div>
			<div class="col-xs-8 no-padding-right">
				<form name="searchForm" class="form-inline">
					<div class="input-group pull-right">
						<input type="text" class="form-control" ng-model="vm.searchQuery"
							id="searchQuery" placeholder=""> <span
							class="input-group-btn width-min">
							<button class="btn btn-info"
								style="border-radius: 5px 5px 5px 5px !important;"
								ng-click="vm.search(vm.searchQuery)">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> <span class="input-group-btn width-min" ng-if="vm.currentSearch">
							<button class="btn btn-info" ng-click="vm.clear()">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<br />
<div class="table-responsive">
	<table class="jh-table table table-striped">
		<thead>
			<tr jh-sort="vm.predicate" ascending="vm.reverse"
				callback="vm.transition()">
				<th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
					<span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="questionTitlefa"><span
					data-translate="evaluationApp.question.questionTitlefa">Question
						Titlefa</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="questionTitleen"><span
					data-translate="evaluationApp.question.questionTitleen">Question
						Titleen</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="questionDescriptionfa"><span
					data-translate="evaluationApp.question.questionDescriptionfa">Question
						Descriptionfa</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="questionDescriptionen"><span
					data-translate="evaluationApp.question.questionDescriptionen">Question
						Descriptionen</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="questionWeight"><span
					data-translate="evaluationApp.question.questionWeight">Question
						Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="questionPercentage"><span
					data-translate="evaluationApp.question.questionPercentage">Question
						Percentage</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="questionStatus"><span
					data-translate="evaluationApp.question.questionStatus">Question
						Status</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-show="locale.lang == 'fa'"
					jh-sort-by="maturityStage.maturityStageTitlefa"><span
					data-translate="evaluationApp.question.maturityStage">Maturity
						Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-show="locale.lang == 'en'"
					jh-sort-by="maturityStage.maturityStageTitleen"><span
					data-translate="evaluationApp.question.maturityStage">Maturity
						Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-show="locale.lang == 'fa'"
					jh-sort-by="unMaturityModel.unMaturityTitlefa"><span
					data-translate="evaluationApp.question.unMaturityModel">Un
						Maturity Model</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-show="locale.lang == 'en'"
					jh-sort-by="unMaturityModel.unMaturityTitleen"><span
					data-translate="evaluationApp.question.unMaturityModel">Un
						Maturity Model</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="question in vm.questions track by question.id">
				<td><a ui-sref="question-detail({id:question.id})">{{question.id}}</a></td>
				<td>{{question.questionTitlefa}}</td>
				<td>{{question.questionTitleen}}</td>
				<td>{{question.questionDescriptionfa}}</td>
				<td>{{question.questionDescriptionen}}</td>
				<td>{{question.questionWeight}}</td>
				<td>{{question.questionPercentage}}</td>
				<td
					data-translate="{{'evaluationApp.QuestionStatus.' + question.questionStatus}}">{{question.questionStatus}}</td>
				<td ng-show="locale.lang == 'fa'"><a
					ui-sref="maturity-stage-detail({id:question.maturityStage.id})">{{question.maturityStage.maturityStageTitlefa}}</a>
				</td>
				<td ng-show="locale.lang == 'en'"><a
					ui-sref="maturity-stage-detail({id:question.maturityStage.id})">{{question.maturityStage.maturityStageTitleen}}</a>
				</td>
				<td ng-show="locale.lang == 'fa'"><a
					ui-sref="un-maturity-model-detail({id:question.unMaturityModel.id})">{{question.unMaturityModel.unMaturityTitlefa}}</a>
				</td>
				<td ng-show="locale.lang == 'en'"><a
					ui-sref="un-maturity-model-detail({id:question.unMaturityModel.id})">{{question.unMaturityModel.unMaturityTitleen}}</a>
				</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit" ui-sref="question-detail({id:question.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-sm-down" data-translate="entity.action.view"></span>
						</button>
						<button type="submit" ui-sref="question.edit({id:question.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-sm-down" data-translate="entity.action.edit"></span>
						</button>
						<button type="submit" ui-sref="question.delete({id:question.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span> <span
								class="hidden-sm-down" data-translate="entity.action.delete"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<jhi-item-count page="vm.page" total="vm.queryCount"
		items-per-page="vm.itemsPerPage"></jhi-item-count>
	<uib-pagination class="pagination-sm" total-items="vm.totalItems"
		items-per-page="vm.itemsPerPage" ng-model="vm.page"
		ng-change="vm.transition()"></uib-pagination>
</div>
</div>
